@charset "utf-8";
/* CSS Document */

/*-------- Button All   //// default  btn show  size  medium //// -----------------------------------------------------------------------------------------------------------------------------------------*/ 
 .awesome, .awesome:visited { display: inline-block; padding: 4px 10px 4px; color: #fff; text-decoration: none; -moz-border-radius: 5px; -webkit-border-radius: 5px; -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5); -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5); text-shadow: 0 -1px 1px rgba(0,0,0,0.25);   position: relative; cursor: pointer; background-color: #333; /*background-image: url(../images/sharp/alert-overlay.png); background-repeat: repeat-x;*/     }  /*  alert-overlay.png   ////  important for  btn  black   &   another btn not important   ////   */
.awesome:hover { background-color: #000; color: #fff; } /* for color  btn  black  */
.awesome:active { top: 1px; } 

/*-------- set  Button  size  ///// use by add name   large  or  medium   to class   ////  --------*/ 
.small.awesome, .small.awesome:visited { font-size: 11px; padding: 0px; } 
.awesome, .awesome:visited, .medium.awesome, .medium.awesome:visited { font-size: 12px; font-weight: bold; line-height: 1; text-shadow: 0 -1px 1px rgba(0,0,0,0.25); }
.large.awesome, .large.awesome:visited { font-size: 14px; padding: 6px 14px 9px; border: 1px solid #F00; }
.common.awesome, .common.awesome:visited { font-size: 11px; padding: 3px 7px 3px; border: 1px solid #CCC; }

/*-------- set  Button  color   --------*/ 
.blue.awesome, .blue.awesome:visited { background-color: #2daebf; }
.blue.awesome:hover { background-color: #007d9a; }
.red.awesome, .red.awesome:visited { background-color: #FF0000; }
.red.awesome:hover { background-color: #FF3333; }
.magenta.awesome, .magenta.awesome:visited { background-color: #a9014b; }
.magenta.awesome:hover { background-color: #630030; }
.orange.awesome, .orange.awesome:visited { background-color: #ff5c00; }
.orange.awesome:hover { background-color: #d45500; }
.yellow.awesome, .yellow.awesome:visited { background-color: #ffb515; }
.yellow.awesome:hover { background-color: #fc9200; }
 .graydark.awesome, .graydark.awesome:visited { background-color: #333;   }
.graydark.awesome:hover { background-color: #000; }
 .gray.awesome, .gray.awesome:visited { background-color: #333;  border: 1px solid #CCC; }
.gray.awesome:hover { background-color: #666; }
