@charset "utf-8";
/* CSS Document */

 /*---- Page schedule  Euro 2012 ---------------------------------------------------------------------------------------------*/   
.page-schedule{ background:   url(../images/update2011/deposit-withdraw_02.png) no-repeat left 100px; height:auto !important; height:575px; min-height:575px; margin-bottom:30px; } 
.page-schedule-title{ background: url(../images/update2012/schedule_h1.png) no-repeat left top; height:144px; padding-left: 0px; padding-top:110px; height:auto !important; height:400px; min-height:400px; } 
.page-deposit  h3.titleHide{ display:none;  }  
  .schedule{  border-collapse: collapse; border-spacing: 1;    color:#333333 ;   font-size:12px;    }
.schedule th { height:23px; border: 1px solid #999; background-color:#1e0606; color:#fff ; margin:0px; }
.schedule td { height:23px;  background-color:#ebeaea ; border: 1px solid #999;padding: 0px 5px; margin:0px;  }
.schedule .tOra{ color:#e06307 ; }
.schedule .tGreen{ color:#336600 ; }
.schedule  .tRed {color:#990000;   } 

 
.schedule  input.inputLong {width:110px;     }
.schedule  input.inputMedium {width:40px;     }
.schedule  input.inputShort {width:20px;     }
.schedule  input[type="button"] { background-color:#640000 ;color:#FFFFFF;  border: #666   1px solid ;  font-size:12px ; padding:0px 5px;  }
.schedule  input[type="submit"] { background-color:#640000 ;color:#FFFFFF;  border: #666   1px solid ;  font-size:12px ; padding:0px 5px;  }
