@charset "utf-8";
/* CSS Document */

/*---- Under construction ---------------------------------------------------------------------------------------------*/   
#container-inner  { width:1012px; height:300px; background: url(../images/update2012/bg_uder_con.png) no-repeat right top; } 
.improve-outer { position:absolute;  left:200px; top:150px; font-family:Tahoma ; }
.improve { margin: 0px auto; width:550px;   height:450px;  color:#fff;  text-align:center; background-image: url(../images/update2012/bg_tran_black.png); background-repeat: no-repeat; background-position: left top; padding-top:50px;padding-bottom:10px; 
position:relative; 
}

.improve  .btn_close_float { position:absolute;  right: -10px; top: -0px; width:32px; height:32px; background-image: url(../images/update2012/btn_float_close.png);
 background-repeat: no-repeat; background-position: 0px 0px; }

.improve   .tLarge { font-size:26px; color:#a59b3a ;  margin-bottom:0px; line-height:33px;  color: #f8f691;  font-family: 'DBHelvethaicaX45Li';    } 
.improve   .tNormal { font-size:14px; margin-bottom: 5px;  line-height:24px;   }
 .improve   .tSmall { font-size:14px;  margin-bottom:15px;}