@charset "utf-8";
/* CSS Document */
.webboard { font-size:13px; height:auto !important; height:680px; min-height:680px; font-family:Tahoma, Verdana, sans-serif; position:relative;  margin-bottom:20px;   }
 
.webboard br { height: 0px;   }
.webboard .navWebboard { margin :20px 0px; color:#FFFFFF; }
.webboard .navWebboard a { color:#FF9900; font-size:14px; text-decoration: none; }
.webboard .navWebboard a:hover { color:#FFFFFF; }
.webboard table { border-collapse: separate; border-spacing: 0px; }
.webboard th { }
.webboard td { color:#FFF }
.webboard td a { color:#FFFF00 }
.webboard td a:hover { color:#999999 }
.webboard td.detailUser { }
.webboard  h1{ color:#FFF ; font-size:23px ; font-weight:normal ;}


.textLabel { color:#FFFFFF; text-align:right; margin-right:5px; }
.textGray { color:#FFFF00 }
 

.listQuiz { height:auto !important; height:300px; min-height:300px; padding-top:0px; font-size:14px ;  margin-bottom:10px; /* background-color:#FF0 ; */  }
.listQuiz .listQuiz_row { clear:both; margin-bottom:0px;  height:auto !important; height:10px; min-height:10px; vertical-align:bottom ; display:block; float:left ;clear:both ; position:relative;
  margin-bottom:2px; padding-top:2px; /* background: url(../images/update2011/icon_reply.png) no-repeat right 5px ;  border: 1px solid  #FF0 ;*/  }

.listQuiz .listQuiz_row  .listQuiz_check{ float:left; margin-right:10px;    width:20px; height:27px; /*border: 1px solid green; */}
.listQuiz .listQuiz_row  .common{  width:19px; height:20px; display:block ;float:left; margin-right:10px; }

.listQuiz .listQuiz_row  .pinGreen{ width:19px; height:20px; margin-right:10px; float:left; background: url(../images/update2011/secuire_key.png) no-repeat -18px 0px; /* border : 1px solid green; */ }
.listQuiz .listQuiz_row  .pinRed{  width:19px; height:20px; margin-right:10px; float:left;
 background: url(../images/update2011/secuire_key.png)   no-repeat 0px  0px; /* border : 1px solid red ;   */ }
 
 .listQuiz .listQuiz_row .id_quiz {   float:left  ;color: #CC9 ; margin-right:10px;  padding-top: 0px; }
.listQuiz .listQuiz_row .quiz_topic  {  color:#FF3  ;  float:left  ;margin-right:10px;padding-top: 0px;  /*border: 1px solid  #FF0 ;*/  } 
.listQuiz .listQuiz_row .quiz_topic a {  color:#FFf      }
.listQuiz .listQuiz_row .quiz_topic a:hover {color:#FF3; }
.listQuiz .listQuiz_row .quiz_topic a.select {color:#FF0; }
.listQuiz .listQuiz_row  .quiz_date { color: #CC9  ;  float:left  ;margin-right:10px;padding-top: 0px;   margin-right:10px;/* border: 1px solid  #FF0 ;*/  }
.listQuiz .listQuiz_row  .quiz_name { color:#F60; float:left  ;margin-right:10px;padding-top: 0px;  }
.listQuiz .listQuiz_row .quiz_attach{ background: url(../images/update2011/icon_photo.png) no-repeat left top; width:30px; height:20px; display:block; float:left  ;    }
.listQuiz .listQuiz_row  .quiz_replyValue { color:#FF9966 ; float:left  ;margin-right:10px;padding-top: 0px;  }
 


.listQuiz .paging { position: absolute; right:  0px; top:0px; }
.listQuiz .paging a { color:#FFFF00; text-decoration:underline; }
.listQuiz .paging a:hover { color:#FFFFFF;  text-decoration:underline; }
.listQuiz .paging a.select { color:#0C0 }
.listQuiz .btnDelete {    margin-bottom:10px; }
.listQuiz .row .columnRight .areaMessage { width:650px; }
.important { color:#FF0000; }

.warpAreaReply {position:relative;    }
.areaReply {    background-color:#4f0708; margin-bottom:30px; padding-top:10px;}
.areaReply .row { clear:both; margin-bottom:10px; height:auto !important; height:30px; min-height:30px; clear:both;}
.areaReply .columnCheck { float:left; }
.areaReply .columnLeft { float:left; width:100px; text-align:right; margin-right:20px; color: #FF0; }
.areaReply .columnRight { float:left; width:620px; }
.areaReply .columnRight  p{ height: auto !important ; height: 15px; min-height: 15px;   }
.areaReply .columnRight .replyPhoto { margin-top: 0px; margin-right: auto; margin-bottom: 20px; }
.areaReply  .columnRight .replyMessage { margin-bottom:10px;  font-size:14px ; word-wrap:break-word; }
.areaReply  .columnRight .replyMessage  p {  margin-bottom:0px ;  height: 15px; }
.areaReply  .columnRight .replyMessage  br { height: 0px; }
.areaReply  .columnRight .replyMessage div {  }
.areaReply .replyUserDetail { border-top: 2px solid #F90; margin-bottom:20px; height:28px; padding-top:0px; background-color:#a30001 }


.warpAreaReply .btnDelete { float:left;height:50px;  width:100px; }
.warpAreaReply .paging {   float:right;height:50px;  width:100px; };
.warpAreaReply  .paging a { color:#FFFF00; }
.warpAreaReply  .paging a:hover { color:#FFFFFF }
.warpAreaReply  .paging a.select { color:#0C0 } 




.areaQuiz    {margin-bottom:20px;  height:auto !important; height : 20px; min-height:100px;   background-color:#4f0708; padding-top:10px;}
.areaQuiz  .row  { margin-bottom:10px;  height:auto !important; height : 30px; min-height:30px;}
.areaQuiz  .row  .columnLeft {color:#FFFF00; text-align:right; margin-right:20px;  float:left; width:100px; }
.areaQuiz  .row  .columnRight { float:left; width:620px; }
.areaQuiz  .row  .columnRight  .quizTopic {margin-bottom:20px; font-size:14px }
.areaQuiz  .row  .columnRight  .quizPhoto { margin : 0px auto 20px; }
.areaQuiz  .row  .columnRight  .quizMessage {margin-bottom:10px; width:620px;font-size:14px ; word-wrap:break-word;}
.areaQuiz  .row  .columnRight  .quizMessage p {  margin-bottom:0px ;  height: 15px;}
.areaQuiz  .row  .columnRight  .quizMessage br {   height: 0px;}

.areaQuiz  .row  .quizUserDetail {border-top: 2px solid #F90; margin-bottom:20px; height:28px; padding-top:3px; background-color:#a30001; }

 
 
  /*---- Form input  -----------*/
.webboard  input[type="text"] {  width: 380px ;  color:#FFFFFF; background-color:#330000; border:#FF0000 1px solid; }
.webboard  input#submit  , .webboard  input#reset  {  width: auto;     }
.webboard  #capcha1 , .webboard  #capcha2 {   width: 70px ; height:28px;   border:#FF0000 1px solid; text-align:center ; font-size:20px; }


 




