@charset "utf-8";
.dhtmlwindow{
position: absolute;
border: 1px solid #666;
visibility: hidden;
background-color:#F7941D;
}

.drag-handle{ /*CSS for Drag Handle*/

font:bold 11px Arial, Helvetica, sans-serif;
color:#FFFFFF;
padding: 1px;
padding-bottom:3px;
width: auto;
overflow: hidden;
text-indent: 3px;
cursor: move;

}

.drag-handle .drag-controls{ /*CSS for controls (min, close etc) within Drag Handle*/
position: absolute;
right: 1px;
top: 2px;
cursor: hand;
cursor: pointer;

}

* html .drag-handle{ /*IE6 and below CSS hack. Width must be set to 100% in order for opaque title bar to render*/
width: 100%; 
}


.drag-contentarea{ /*CSS for Content Display Area div*/
border-top: 1px solid #F7941D;
background-color: #F7941D;
color: black;
height: 150px;
padding: 6px;
padding-right:4px;
overflow: auto;

}

.drag-statusarea{ /*CSS for Status Bar div (includes resizearea)*/
border-top: 1px solid gray;
background-color: #F8F8F8;
height: 13px; /*height of resize image*/
}


.drag-resizearea{ /*CSS for Resize Area itself*/
float: right;
width: 13px; /*width of resize image*/
height: 13px; /*height of resize image*/
cursor: nw-resize;
font-size: 0;
}