.drag-handle{ /*Overwrite default drag handle bar background color with below*/
	background-color:#33FF00;
	background:url(../images/bg-title.png) repeat-x;
	height:25px;
}


#interVeil{ /*CSS for veil that covers entire page while modal window is visible*/
position: absolute;
background: #FFFFFF url(blackdot.gif);
width: 10px;
left: 0;
top: 0;
z-index: 5;
visibility: hidden;

filter:progid:DXImageTransform.Microsoft.alpha(opacity=80);
filter:alpha(Opacity=80); /*modify to change the shade solidity/opacity, same as below*/
opacity:0.8; /*firefox 1.5 opacity*/
-moz-opacity:0.8; /*mozilla opacity*/
-khtml-opacity:0.8; /*opacity*/

}