 <style>
.ui-tabs { padding: .2em; zoom: 1; }
.ui-tabs .ui-tabs-nav { list-style: none; position: relative; padding: .2em .2em 0;  display:block; height:50px; clear:both ; }
.ui-tabs .ui-tabs-nav li { position: relative; float: left; border-bottom-width: 0!important; margin: 0 .2em -1px 0; padding: 0; }
.ui-tabs .ui-tabs-nav li a { float: left; text-decoration: none; padding: .5em 1em; }
.ui-tabs .ui-tabs-nav li.ui-tabs-selected { padding-bottom: 1px; border-bottom-width: 0; background-color:#F00;  }
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a { cursor: text; }
.ui-tabs .ui-tabs-nav li a, .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a { cursor: pointer; }
.ui-tabs .ui-tabs-panel { padding: 1em 1.4em; display: block; border-width: 0; background: none; }
.ui-tabs .ui-tabs-hide { display: none!important; }
</style>
<script src="source/jquery.min.js" type="text/javascript"></script>
<script src="source/jquery-ui.min.js" type="text/javascript"></script>
 <script>
$(document).ready(function () {
    $(".tabs").tabs();
    $("#tabs-rotate").tabs({
        fx: {
            opacity: 'toggle'
        }
    }).tabs('rotate', 100);
    $('#tabs-rotate').hover(function () {
        $(this).tabs('rotate', 0, false);
    }, function () {
        $(this).tabs({
            fx: {
                opacity: 'toggle'
            }
        }).tabs('rotate', 100);
    });
});
</script>


<div id="tabs-rotate" class="tabs" style="position:relative;">
  <ul>
    <li><a href="#best-songs-tab"  ><span>Best songs</span></a></li>
    <li><a href="#latest-songs-tab" ><span>Latest songs</span></a></li>
    <li><a href="#most-downloaded-tab"  ><span>Most downloaded</span></a></li>
    <li><a href="#contest-tab"  ><span>Top 10 in November</span></a></li>
  </ul>
  <div id="best-songs-tab"> AAAAAAAAAAAAAAAAAAAAAAAA </div>
  <div id="latest-songs-tab"> BBBBBBBBBBBBBBBBBBBBBBBBBBBBB </div>
  <div id="most-downloaded-tab"> CCCCCCCCCCCCCCCCCCCCCCCCCCCC </div>
  <div id="contest-tab"> DDDDDDDDDDDDDDDDDDDDDDDDDDDDDD </div>
</div>
