@charset "utf-8";
/* CSS Document */
/*-----Clear -------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
html, body, div, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, fieldset, input, img { margin: 0px; padding: 0px; }
h1, h2, h3, h4, h5, h6, pre, code, address, caption, cite, code, th { font-size: 12px; font-weight: normal; font-style: normal; }
ul { list-style: none; }
fieldset, img { border: none; }
table { border-collapse: separate; border-spacing: 1px; }  
.clear { clear: both; }

h1 { font-size: 25px; ; font-family: 'DBHelvethaicaX45Li'; margin-bottom: 10px; color: #300;   }
h2 {}
h3 {}

.textGreen {}
/*-----Gernaral  ------------------------------------------------------------------------------------------------------------------------------------------------*/  
  @font-face {
    font-family: 'DBHelvethaicaX45Li' ; 
    src: url('DBX45/db_helvethaica_x_li_v3.2-webfont.eot?#iefix') format('embedded-opentype'),
	       url('DBX45/db_helvethaica_x_li_v3.2-webfont.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal; 
}


body { padding: 0; margin: 0; background-color: #d2d2d2; font-family: Tahoma, Arial, "MS Serif"; font-size: 12px }
/*-------------Layout ------------------------------------*/
#container { width: 1000px; position: relative; height: auto !important; height: 300px; min-height: 300px; margin: 0px auto; }
#header { margin: 0px auto; width: 1000px; height: 100px; display: block; }
#header .headerIner { position: relative; width: 1000px; height: 100px; display: block; background: #330000 url(../../images/backend2012/logo_442im.png) no-repeat left -15px; }
#header .headerIner .descrip { position: absolute; right: 20px; top: 20px; font-family: 'DBHelvethaicaX45Li'; font-size: 18px; color: #FFF; }
#content { height: auto !important; height: 450px; min-height: 450px; padding-bottom: 0px; background-color: #FFFFFF; width:  980px; padding:10px; }
#footer { font: 10px Verdana, Arial, Helvetica, sans-serif; color: #FF0000; height: 50px; padding-top: 20px; margin-top: 0px; }
#footer a { font: 10px Verdana, Arial, Helvetica, sans-serif; color: #FF0000; text-decoration: none; padding: 0px 5px 0px 5px; }
#footer a:hover { color: #FF9900; }
#footer ul{margin-left:400px;}
#footer ul li { display:inline; }
/*-----breadCrumb -------------------------------*/ 
.breadCrumb{ font-size:14px ; color:#666;  margin-bottom:10px;  clear:both; }
.breadCrumb a{ font-size:14px ; color:#666;   }
.breadCrumb a:hover{font-size:14px ;   color:#333; }


/*-----navMain  -------------------------------*/  
#navMain { font-size: 21px; font-family: 'DBHelvethaicaX45Li'; color: #FFFFFF; background-color: #640000; width: 1000px; height: 32px; display: block; (-bracket-:hack;
font-size: 14px; font-family: Tahoma;  );
// Hack Chrome
}
#navMain ul { }
#navMain li { float: left; border-right: 1px solid #700909; border-bottom: 1px solid #700909; border-left: 1px solid #460202; background-color: #640000; position: relative; padding : 7px 0px 6px; }
#navMain li a {
background-color:#330000 color:#FFFFFF; padding: 0px 15px 0px; text-decoration: none; color: #FFF; display: block; }
*html #navMain li a { float: left; height:
}
// Hack IE 6 #navMain li a:hover {
background-color:#bc0909;
}
#navMain li ul { position: absolute; left: 0px; top: 30px; display: none; }
#navMain li ul li { width: 170px; color: #333333; background-color: #640000; }
#navMain li ul li:hover { background-color: #bc0909; }

/*-------- table  add  account   ---------------------------*/  
table.accountShow { background-color: #aaa; color: #333; font-size: 12px }
table.accountShow a { color: #900; text-decoration: underline; }
table.accountShow a:hover { color: #F00; text-decoration: underline; }
table.accountShow th { text-align: center; height: 25px; }
table.accountShow td { text-align: center; height: 30px; background-color: #fff; }
table.accountShow .newMsg { background: url(../images_chat/comments2.gif) no-repeat left top; width: 40px; display: block; padding-left: 10px; margin: 0px auto; color: #FF0000; height: 20px; }
table.accountShow .noMsg { }
table.accountShow .userOffline { color: #666; background: url(../images_chat/icon_offline.png) no-repeat left top; width: 50px; display: block; padding-left: 20px; margin: 0px auto; }
table.accountShow .userOnline { color: #666; background: url(../images_chat/icon_online.png) no-repeat left top; width: 50px; display: block; padding-left: 20px; margin: 0px auto; }
 

.accountDetail  {font-size:12px;  }
.accountDetail  div { clear: both;   }
.accountDetail  label { width: 200px; display: block; float: left; text-align: right; margin-right: 5px; } 
.accountDetail   select.select  { width:200px }
.accountDetail   .starCheck{ color:#F00; margin-left:10px; } 
.accountDetail   .captcha { width:50px;  margin-right:10px;} 

/*-------- table  Webboard Manage  ---------------------------*/  
table.webboard { background-color: #aaa; color: #333; font-size: 11px }
table.webboard a { color: #900; text-decoration: underline; font-size: 11px; color:#3A6899; }
table.webboard a:hover { color: #F00; text-decoration: underline; color:#0033CC;  }
table.webboard a.lock{  color:#FF6600 ; } 
table.webboard a.lock :hover{  color:#FF6633 ; }
table.webboard th { text-align: center; height: 25px; background-color: #3A6899; color: #FFF; vertical-align: top; padding-top: 3px; padding-bottom : 3px;  }
table.webboard td { text-align: center;   background-color: #fff; padding: 0px 6px;padding : 4px 2px; vertical-align:top } 
table.webboard .newMsg { background: url(../images_chat/comments2.gif) no-repeat left top; width: 40px; display: block; padding-left: 10px; margin: 0px auto; color: #FF0000; height: 20px; }
table.webboard .noMsg { }
table.webboard .userOffline { color: #666; background: url(../images_chat/icon_offline.png) no-repeat left top; width: 50px; display: block; padding-left: 20px; margin: 0px auto; }
table.webboard .userOnline { color: #666; background: url(../images_chat/icon_online.png) no-repeat left top; width: 50px; display: block; padding-left: 20px; margin: 0px auto; }
table.webboard input.button { padding: 2px 10px; font-size: 11px;  background-color: #640000; color: white; border: #666 1px solid;   padding: 2px 5px }

.btnBack{padding: 2px 10px; font-size: 11px;  background-color: #640000; color: white; border: #666 1px solid;   padding: 2px 5px }
.areaQuizTopic{ margin-bottom:10px; margin-left:5px;  } 
.areaQuizTopic   h1{font-size:16px;margin-bottom:5px ; color:#3A6899;  display:block; border-bottom:1px solid #88CEF9 ; padding-bottom:5px;}
.areaQuizTopic   h4{font-size:11px; color:#666666;  }
.areaQuizMessage{font-size:12px; background-color:#F5F5F5; padding:10px;} 
 
/*----- CMS  -------------------------------------------------------------------------------------------------------------------------*/   
/*.cmsContent { width: 570px; float: left; height: auto !important; height: 100px; min-height: 100px; margin-bottom: 50px; padding: 10px; }
.cmsContent h2 { font-size: 24px; font-family: 'DBHelvethaicaX45Li'; color: #900; margin-bottom: 20px; }
.cmsContent div { margin-bottom: 10px; clear: both; }
.cmsContent div label { width: 80px; display: block; float: left; text-align: right; margin-right: 10px; }
.cmsContent .inputText { width: 450px; }
.cmsSeo { width: 350px; float: left; margin-bottom: 20px; border-left : 1px solid #CCC; padding-left: 10px; }
.cmsSeo h2 { font-size: 24px; font-family: 'DBHelvethaicaX45Li'; color: #900; margin-bottom: 20px; }
.cmsSeo div { margin-bottom: 10px; }
.cmsSeo div label { width: 100px; display: block; float: left; text-align: right; margin-right: 10px; }
.cmsSeo .inputText { width: 230px; }
.cmsSeo .textArea { width: 230px; }
.btnForm { margin: 0px auto; width: 250px; clear: both; height: 200px; }
.btnForm input { float: left; margin-right: 10px; padding: 0px 10px; }*/


/*---- cm news --------------------------------------------------------------------------------------------------------------------------------------------*/
.page-cms  { } 
.page-cms  h2 { font-size:16px; color:#00F ;  margin-bottom:10px; }    
.page-cms .regionLeft    {   width: 630px; float: left;border-right: 1px solid #CCC ; padding-right : 10px;  }
.page-cms .regionLeft .row{  margin-bottom:5px;  clear: both ;    }

.page-cms .regionRight   { width:320px ; float:left ;margin-left:10px; }  
.page-cms .regionRight  .row{  margin-bottom:20px;      } 
.page-cms .regionRight  .row .descript { margin-left:105px; color:#F00;  color:#F90;    } 


.page-cms   label { width: 100px; display: block; float: left; text-align: right; margin-right: 5px; }
.page-cms  .star{ color:#F00; margin-left:5px; } 
.page-cms  .captcha { width:50px;  margin-right:10px;} 
.page-cms  .checkBox {margin-left:20px; width:400px; }
.page-cms   .btn{margin-left:420px; margin-top:20px; }
.page-cms  .btnDesign    {  font-size: 13px;  background-color: #333333; color: white; border: #666 1px solid;   padding: 2px 5px; color:#FFF;  }   


/*---- cke  editor  ( fix  problem  position textarea )-------------------*/ 
.page-cms   #cke_CmNewsContext { display:block;  width:520px; float: left; margin-bottom:10px;}
