@charset "utf-8";
/* CSS Document */
 /*-----Clear ----------------------------------------------------------------------------------------*/
html, body, div, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, fieldset, input, img { margin: 0px; padding: 0px;  } 

ul, ol, li{ list-style:none }
.clear {  clear:both ;}
table { border-collapse:  separate; border-spacing: 1px ; }  

 /*-----Gernaral----------------------------------------------------------------*/ 
@font-face {
font-family: 'DBHelvethaicaX45Li';
src: url('DBX45/db_helvethaica_x_li_v3.2-webfont.ttf');
src: url('DBX45/db_helvethaica_x_li_v3.2-webfont.eot?#iefix') format('embedded-opentype'),
url('DBX45/db_helvethaica_x_li_v3.2-webfont.woff') format('woff'),
url('DBX45/db_helvethaica_x_li_v3.2-webfont.ttf') format('truetype'),
url('DBX45/db_helvethaica_x_li_v3.2-webfont.svg#DBHelvethaicaX45Li') format('svg');
font-weight: normal;
font-style: normal; 
}


body {  margin: 0px auto; font-size:12px ; 
  font-family: Tahoma, Verdana, Arial  ; position:relative ; background-color:#ccc ; color:#333333; 
  }  
  
/*-----layout-----------------------------------------------------------------------------------------*/
  
/*-------- Button All   //// default  btn show  size  medium //// -----------------------------------------------------------------------------------------------------------------------------------------*/ 
 .awesome, .awesome:visited { display: inline-block; padding: 4px 10px 4px; color: #fff; text-decoration: none; -moz-border-radius: 5px; -webkit-border-radius: 5px; -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5); -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5); text-shadow: 0 -1px 1px rgba(0,0,0,0.25);   position: relative; cursor: pointer; background-color: #333; /*background-image: url(../images/sharp/alert-overlay.png); background-repeat: repeat-x;*/     }  /*  alert-overlay.png   ////  important for  btn  black   &   another btn not important   ////   */
.awesome:hover { background-color: #000; color: #fff; } /* for color  btn  black  */
.awesome:active { top: 1px; } 

/*-------- set  Button  size  ///// use by add name   large  or  medium   to class   ////  --------*/ 
.small.awesome, .small.awesome:visited { font-size: 11px; padding: 0px; } 
.awesome, .awesome:visited, .medium.awesome, .medium.awesome:visited { font-size: 12px; font-weight: bold; line-height: 1; text-shadow: 0 -1px 1px rgba(0,0,0,0.25); }
.large.awesome, .large.awesome:visited { font-size: 14px; padding: 6px 14px 9px; border: 2px solid #F00; }
.common.awesome, .common.awesome:visited { font-size: 11px; padding: 3px 7px 3px; border: 1px solid #CCC; }

/*-------- set  Button  color   --------*/ 
.blue.awesome, .blue.awesome:visited { background-color: #2daebf; }
.blue.awesome:hover { background-color: #007d9a; }
.red.awesome, .red.awesome:visited { background-color: #FF0000; }
.red.awesome:hover { background-color: #FF3333; }
.magenta.awesome, .magenta.awesome:visited { background-color: #a9014b; }
.magenta.awesome:hover { background-color: #630030; }
.orange.awesome, .orange.awesome:visited { background-color: #ff5c00; }
.orange.awesome:hover { background-color: #d45500; }
.yellow.awesome, .yellow.awesome:visited { background-color: #ffb515; }
.yellow.awesome:hover { background-color: #fc9200; }
 .graydark.awesome, .graydark.awesome:visited { background-color: #333;   }
.graydark.awesome:hover { background-color: #000; }
 .gray.awesome, .gray.awesome:visited { background-color: #333;  border: 1px solid #CCC; }
.gray.awesome:hover { background-color: #666; }

 

/*--------chat  Admin------------------------------------------------------------*/  
.chatadmin { position:relative; width:98%; background: #ccc url(../images_chat/callcenter.png) no-repeat right 40px; padding:1%/* padding  from  % of   width  height */; } 
.chatadmin-topsection { color:#FFFFFF; height:40px; clear:both; margin-bottom:5px; background: #ccc url(../images_chat/logo_442im.png) no-repeat 10px top; position:relative; }
.chatadmin-warp-colleft {/* start set fulid  */  float: left; width: 100%; /* end set fulid  */   }
.chatadmin-colleft {  /* start set fulid  */ margin-right:120px;  /* end set fulid  */  }
.chatadmin-colright{  /* start set fulid  */ float:left; width:120px; margin-left:-120px;  /* end set fulid  */ }

.chatadmin-content {width:100% ; height:280px;  background-color:#FFF;  border: 1px solid #bbb;margin-bottom:10px ;  overflow:auto;     }
*html .chatadmin-content {width: 410px ;      }/* IE 6 */ 
.chatadmin-content  .chatadmin-padaing{padding:10px; }
.chatadmin-textarea  textarea{ width:100%; height:80px;  }
*html  .chatadmin-textarea  textarea{ width:410px; height:80px;  }/* IE 6 */ 
    
.chatadmin-submit { position:absolute; right:52px; bottom: 7px;   } 
 *html   .chatadmin-submit { position:absolute; right:-90px; bottom:  70x;   } /* IE 6 */ 
*+html   .chatadmin-submit { position:absolute; right: -90px; bottom: 20px;   width:100px; } /* IE 7 */ 

.msgRow{  clear:both ;   border-bottom:  1px dotted #999 ; height:auto !important ;  height:20px; min-height:20px; padding-bottom: 5px;   margin-bottom:  5px;   }
.msgRow  .boxLeft { float:left ; width:125px;  }

.msgRow  .boxLeft  .msgTime{ width:45px; margin-right:5px;  color:#999999; font-size:11px;  float:left ;   }

.msgRow .boxLeft  .msgName{width: 60px; float:left ; /* border : 1px solid  #999  ;*/    text-align:right}
.msgRow .boxLeft   .msgName  .tRed {  color:#B90000 } 
.msgRow .boxLeft   .msgName  .tBlue {color:#006699  }
.msgRow  .msgDetail{ float:left ; width:250px;height:auto !important ;  height:20px; min-height:20px;   border-left : 2px solid  #eee  ;  padding-left:10px; }
 
 


/*--------chat  User  -----------------------------------------------------------*/  
.chat-regist{ width:100% ;  height:300px;  }
.msg-regist{  width:300px;   font-family: 'DBHelvethaicaX45Li';     font-size:28px;  }
.chat-regist  .registbox{ width:450px; height: 200px}  
.registbox-inner div{  clear:both; height:30px; } 
.registbox-inner label { width:  50px;  display:block ; float:left ; clear:both;  text-align:right ; margin-right:10px; } 
.registbox-inner  input{ float:left ; margin-right: 15px; } 
.registbox-inner  .submit{  padding-left:60px; } 


.status-admin  {position:absolute; left: 220px ; top: 10px;  font-family: 'DBHelvethaicaX45Li';   color:#FF0000 ; font-size:28px;  }

.chat_user_logout{ position:absolute; right: 15px ; top: 15px; }
.chat_user_mail { position:absolute; right: 85px ; top: 15px;}

*html  .chat_user_logout{ position:absolute; right: -100px ; top: 15px; }/* IE 6 */ 
*html  .chat_user_mail { position:absolute; right: -10px ; top: 15px;}/* IE 6 */ 

  /*-------- table  manage-----------------------------------------------------------*/  
table.showuserlist { background-color:#aaa   ;  color:#333;  font-size:11px  } 
table.showuserlist  a{  color:#333;  text-decoration:underline ;} 
table.showuserlist  a:hover{  color:#000;  text-decoration:underline ;} 
table.showuserlist  th {text-align:center ;height:25px; } 
table.showuserlist  td {text-align:center ;height:30px;  background-color:#fff  ; } 
 
table.showuserlist    .newMsg { background: url(../images_chat/comments2.gif) no-repeat left top; width:40px;   display: block;    padding-left:10px; margin: 0px auto ;  color:#FF0000; height:20px;   }
table.showuserlist   .noMsg { } 
table.showuserlist   .userOffline{ color:#FF0000 ;  background: url(../images_chat/icon_offline.png) no-repeat left top; width:50px;   display: block;    padding-left:20px; margin: 0px auto ;}
table.showuserlist   .userOnline{color:#009900; background: url(../images_chat/icon_online.png) no-repeat left top; width:50px;   display: block;    padding-left:20px; margin: 0px auto ;}
 

