@charset "utf-8"; 
/*-----Clear ---------------------------------------------------------------------------------------------------------------------------------*/
html, body, div, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, fieldset, input, img { margin: 0px; padding: 0px;  }
h1, h2, h3, h4, h5, h6, pre, code, address, caption, cite, code, th { font-size: 12px; font-weight: normal; font-style: normal;   }
ul { list-style: none; }
fieldset, img { border: none; } 
/*table { border-collapse: collapse; border-spacing: 0; }   */
table { border-collapse: separate; border-spacing: 1px; }  
/*-----Gernaral----------------------------------------------------------------------------------------------------------------------------------*/  
@font-face {
font-family: 'DBHelvethaicaX45Li' ; 
src: url('DBX45/db_helvethaica_x_li_v3.2-webfont.eot?#iefix') format('embedded-opentype'),
	   url('DBX45/db_helvethaica_x_li_v3.2-webfont.ttf') format('truetype'); 
font-weight: normal;
font-style: normal;   
}

@font-face {
font-family: 'DotFont' ; 
src: url('DotFont/dotfont-.eot?#iefix') format('embedded-opentype'),
	   url('DotFont/dotfont-.ttf') format('truetype'); 
font-weight: normal;
font-style: normal; 
}



/*
body { background: #4e0202 url(../images/bgBodyPattern1.jpg) repeat left top; margin: 0px auto; font-size:12px ;    
color:#FFFFFF;  font-family:   Tahoma, Verdana, Arial  ; position:relative ;   
} 
*/   

body { background: #3e0303 url(../images/update2012/bg-event.jpg) no-repeat center top; margin: 0px auto; font-size: 12px; color: #FFFFFF; font-family: Tahoma, Verdana, Arial; position: relative; }

a { color:#FFFFFF ; text-decoration:none }
a:hover { color:#BFBFBF ; text-decoration:underline} 
.clear { clear:both;} 
img {border:none ;}
h1 {   color:#F0F  ; font-size:23px; font-family: 'DBHelvethaicaX45Li'; }
h2 {  color:#fff ; font-size:24px ; font-family: 'DBHelvethaicaX45Li';}
h3 {color:#FFFFFF ;}
h4 {color:#FFFFFF ;}
h5 {color:#FFFFFF ;}
h6 {color:#FFFFFF ;}
.debug  { color:#373737 ;}
/*-----Layout-----------------------------------------------------------------------------------------------------------------------------------*/
#preContainer{ width:100%;  background: url(../images/bgBodyPattern2.png) repeat-x left top; display:block; padding-top: 15px;}
#container { float: none; width: 992px; position: relative; margin: 0px auto; height: auto !important; height: 700px; min-height: 700px; padding: 0px 10px; background: #740001 url(../images/update2011/gradien-opacity.png) repeat-x left top; } 
#header_top { float:none; }
#header { position:relative; padding:0px  ; /* width:992px; */    height:auto !important ; height:100px; min-height:100px;   }
#header  .logo { float:left; width:312px; height:120px; display:block; background: url(../images/update2011/442_03.png) no-repeat left top;  border:none;}
#header  .logo a{ width:312px; height:120px; display:block ;   } 
#header  .logo  h1{display:none } 
#header  .tel { float:left; background: url(../images/update2011/442_04.png) no-repeat left -20px; border:none;width:680px ; height:110px; text-indent:-5000px; }
#header   .socail-network {  position:absolute; right:20px; top:80px;   display:block;   }
#header   .socail-network  .btn-social{ float:left ; width:145px; display:block;  }
#header   .socail-network   .btn-likecount{ float:left ; top:-10px;width:70px; display:block;    }

#footer   {  background-color: #550000; height:auto !important ; height:50px; min-height:50px; padding-top:5px;  padding-bottom:10px;  }
#footer   .menu_footer{   margin: 0px auto ; margin-bottom:10px;  text-align:center  ; margin-top:10px;}
#footer   .menu_footer ul {  }
#footer   .menu_footer  ul  li { display: inline ;  color:#9c3939; }
#footer   .menu_footer  ul  li  a{ padding: 0px 10px   ;     color:#F90 ;   text-decoration:none ; font-family: 'DBHelvethaicaX45Li'; font-size:20px }
#footer   .menu_footer  ul  li  a:hover{ color:#FFFFFF; } 
#footer   .copyright {  text-align:center;  margin: 0px auto ; width:600px;  color: #9c3939;padding-bottom:10px;   font-size:11px;}

#footer   .credit-box {   height:58px;  margin:0px auto;  margin-left:150px;   } 
#footer   .credit-box  li{ float:left;  /*border: 1px solid #F00 ;*/ }
#footer   .credit-box   a { height:30px; display:block ;}
#footer   .credit-box   a:hover{ cursor:pointer;  }
#footer   .credit-box  li  span{display:none}

.titlePage_joinNow { background: url(../images/update2011/titlePage_joinNow.png) no-repeat left top; }
.titlePage_deposit { background: url(../images/update2011/deposit-withdraw.png) no-repeat left top; }
.titlePage_sportOnline{background:url(../images/update2011/titleHome-1.png) no-repeat }
.titlePage_casinoOnline{ background:url(../images/update2011/casino.png) no-repeat }
.titlePage_casinoOnline2{ background:url(../images/update2011/titleHome-2.png) no-repeat }
.titlePage_lottoOnline{ background:url(../images/update2011/lotto.png) no-repeat }
.titlePage_contact { background:url(../images/update2011/contact-us.png) no-repeat }

/*-----Navigation ---------------------------------------------------------------*/   
#navMain { font-size: 23px; font-family: 'DBHelvethaicaX45Li'; color: #FFFFFF;   width: 990px; height: 32px; display: block;   }
#navMain ul {height: 32px; float:left;  }
#navMain li { float: left; border-right: 1px solid #700909; border-bottom: 1px solid #700909; border-left: 1px solid #460202; background-color: #640000; position: relative; padding : 3px 0px 3px;  }
#navMain li a { background-color:#330000 color:#FFFFFF; padding: 0px 9px 0px; text-decoration: none; color: #FFF; display: block; }
#navMain li ul { display: none; position: absolute; left: 0px; top: 30px;  z-index:111;  }
#navMain li ul li {  color: #333333; background-color: #640000;  width:160px; }
#navMain li ul li:hover { background-color: #bc0909; }   
#navMain .subNav {    }
#navMain .selected  { background-color: #bc0909; }   
/* #navMain li:last-child { padding-right:8px;} */
 

#wrapper { height:auto !important; height:300px; min-height:300px; padding:10px 0px 0px; width:992px; position:relative; /*border: 2px solid #0F0  ;*/   }

/*-- side Left-------------------------*/
#content  { height:auto !important; height:300px; min-height:300px; width:773px; float:left ; margin-right:15px; /*border: 2px solid #0F0  ;*/   } 


/*-- side Right -------------------------*/
#sidebar { float:left; width: 201px; height:auto !important; height:300px; min-height:300px;  padding-bottom:20px;  /*border: 2px solid #0F0;*/  }
.phone-register {   } 
.phone-register .telephone {padding-top:60px;  padding-left:15px;     }
.phone-register .telephone  input{width:110px;  }
.phone-register .telephone  .btn{width:50px; padding:1px 8px; 
background-color: #D90005;
color: white;
border: #FFF 1px solid;border-radius: 5px; 
font-family: 'DBHelvethaicaX45Li'; font-size:19px ;  line-height:19px; 
}

.btn-joinnow{ background: url(../images/update2012/btn-join_now.gif) no-repeat left top;  width:198px; height:110px; border-radius: 10px; border: 2px  solid  #A88F33  ;   margin-bottom:5px; }
.btn-joinnow   span {width:198px; height:110px;  display:block ; }

.callcenter { background: url(../images/update2012/bg_openAccount.jpg) no-repeat left top; width:198px; height:94px;  border-radius: 10px; border: 2px  solid  #A88F33  ; margin-bottom:5px; }   
.phone-register  .phoneRow { padding-left:10px;  height:70px; padding-top:5px;  } 
.phone-register  .phoneRow  h2{ color:#fff  ; font-size:25px; font-family: 'DBHelvethaicaX45Li';   } 

.phone-register  .phoneRow  p {  color:#fff  ; font-size:22px; font-family: 'DBHelvethaicaX45Li'; margin-bottom:5px;  } 
.phone-register  .phoneRow  .text {width:115px; height:16px;  ; font-size:11px; color:#957c1b;} 
.phone-register  .phoneRow  .submit { background:url(../images/update2011/442_20.png); width:51px; height:27px; border:0px; cursor:pointer; } 

.bank_service { background: url(../images/update2011/442_31.png) no-repeat left top; margin:10px  0px  0px  0px;background-color:#550000;} 
.linkService_webboard { background: url(../images/update2011/442_54.png) no-repeat left top;width:193px;  height:140px;  margin-bottom:15px; clear:both ;} 
.linkService_webboard  span{  display:none} 
.linkService_webboard  a{  width:193px;  height:140px;  display:block ;} 

.histats { float:none; width:193px; height:47px;  width:112px; margin: 0px auto ; display:block }


.bankDeposit {background-color:#c20507 ;width: 196px; margin-bottom:5px; border-radius: 10px; border: 2px  solid  #A88F33  ;  padding-top:5px;  padding-bottom:  5px  ; padding-left : 4px  ; }

.bankDeposit a  { color:#FFF ;  }
.bankDeposit  h2{    font-size:24px;  }
.bankDeposit   .bankDetail{   }
.bankDeposit   .bankDetail   ul {   font-size:22px  ;  }
.bankDeposit   .bankDetail   li{   margin-bottom:0px; color:#FF0; font-family: 'DBHelvethaicaX45Li'; background: url(../images/update2011/bullet_circle.png) no-repeat left   5px ;  padding-left:10px; } 

.bankDeposit  .bankIcon {clear:both ; height:auto !important ; height:150px; min-height:150px;   margin-bottom:10px;  }
.bankDeposit  .bankIcon li{ float:left ; margin-bottom:2px; margin-right:2px; margin-bottom:10px;  }
.bankDeposit  .bankIcon .rowBankicon { margin-bottom:5px;  }
.bankDeposit  .bankIcon .rowBankicon a{   }
.bankDeposit  .bankIcon .rowBankicon a:hover{ cursor:pointer }  
.bankDeposit  .bankIcon .rowBankname{  text-align:center ; } 
.bankDeposit  .bankIcon .rowBankname a{  color:#F90  ; font-size:11px ;  }
.bankDeposit  .bankIcon .rowBankname a:hover{   text-decoration:underline;  cursor:pointer  } 
.bankDeposit   .bankIconFlash  {clear:both ; /*height:auto !important ; height:200px; min-height:200px; */     }
.bankDeposit   .bankIconFlash  li{ float: left; margin-bottom: 10px; margin-right: 0px; margin : 0px 2px; }
.bankDeposit   .bankIconFlash  .rowBankicon { margin-bottom:5px;  }
.bankDeposit   .bankIconFlash  .rowBankicon a{   }
.bankDeposit   .bankIconFlash  .rowBankicon a:hover{ cursor:pointer }
.bankDeposit  .bankIconFlash   .rowBankname{  text-align:center ; } 
.bankDeposit  .bankIconFlash   .rowBankname a{  color:#F90  ; font-size:11px ;  color:#FFF }
.bankDeposit  .bankIconFlash   .rowBankname a:hover{   text-decoration:underline;  cursor:pointer  }

.sideBanner {   width:193px;margin: 0px 0px 5px  0px   ; display:block ;   clear:both ; padding-left:0px;  } 
#flashArea{ position:relative; }
#flashArea #flash_welcome { position:absolute;    height:75px; width:992px;	 bottom: -3px;  left:0px;} 
#flashArea  #flash_bannerFloat { position:absolute; top:20px; left:15px; z-index:111 }
#flashArea  #flash_key { width:992px;  height:464px; margin:0px auto ;}


/*---- Title All  ---------------------------------*/     
.titleBig { display:block ; color:#FF0; height:90px;  margin-bottom:5px;padding-top:10px;padding-left:10px; }  
.titleBig h2{color:#F0F; font-size:40px; font-family:'DBHelvethaicaX45Li'; color:#d3c67a; width:500px;
line-height:30px;margin-bottom:5px;margin-top:5px;}
.titleBig h3{ color:#F0F  ; font-size:25px; font-family: 'DotFont'; color:#A88F33; width:500px; line-height:30px;   }  
.titleSmall  { display:block ; color:#FF0; height:40px;  padding-top:10px;padding-left:10px;background: url(../images/update2012/h1_pageFull.jpg) no-repeat left 5px; margin-bottom:10px;  } 

.titleSmall h1{color:#F0F; font-size:50px; font-family:'DBHelvethaicaX45Li'; color:#d3c67a; width:500px;
line-height:30px;margin-bottom:5px;margin-top:5px;}


/*---- Page  Full   -------------------------------------*/    

.pageFull {height: auto!important ; height:500px; min-height: 500px; float:left; width:770px; padding-bottom:0px; } 
.pageFull h1{ font-size:40px;  } 
.pageFull h2{ font-size:30px; color:#F90;  margin-bottom:5px; } 
.pageFull  br {height:0px; margin:0px; padding:0px; }  

#contentFull {height: auto!important ; height:500px; min-height: 500px; float:left; width:770px; padding-bottom:0px;   } 
#contentFull h1{ font-size:40px;  } 
#contentFull h2{ font-size:30px; color:#F90;  margin-bottom:5px; } 
#contentFull  br {height:0px; margin:0px; padding:0px; }  
/*---- Page  Live ------------------------------------------*/     

.pageLive  {width:760px ; float:left ;margin-right:10px; height: auto!important ; height:100px; min-height: 100px;  }
.pageLive  li {float:left ;} 
.pageLive-detail  {background-color:#FFF;  height: auto!important ; height:100px; min-height: 100px;width:760px ;    color:#000 ; }
.pageLive-detail   h3 { font-size:24px ;color:  #F00 ;}


table.linkStream { background-color: #aaa; color: #333; font-size: 12px }
table.linkStream a { color: #900; text-decoration: underline; }
table.linkStream a:hover { color: #F00; text-decoration: underline; }
table.linkStream th { text-align: center; height: 25px; }
table.linkStream td { text-align: center; height: 30px; background-color: #fff; }
table.linkStream .newMsg { background: url(../images_chat/comments2.gif) no-repeat left top; width: 40px; display: block; padding-left: 10px; margin: 0px auto; color: #FF0000; height: 20px; }
table.linkStream .noMsg { }
table.linkStream .userOffline { color: #666; background: url(../images_chat/icon_offline.png) no-repeat left top; width: 50px; display: block; padding-left: 20px; margin: 0px auto; }
table.linkStream .userOnline { color: #666; background: url(../images_chat/icon_online.png) no-repeat left top; width: 50px; display: block; padding-left: 20px; margin: 0px auto; }


/*---- Page  News  ------------------------------------------*/     
.news    { width:375px ; float:left ;margin-right:10px; height: auto!important ; height:100px; min-height: 100px;  }  
.news    h1 { background: url(../images/update2012/newsBgTitle.png) no-repeat left -3px ; 
height:38px;padding: 8px 0px 0px 10px; font-size:30px;  color:#FFF ;margin-bottom:0px; }
.news   .newsRow{ margin-bottom:5px; border-bottom: 1px solid #4c0001  ; margin-left:10px;  }
.news   .newsRow-left{  float:left ; margin-right:10px;  border:1px solid #FFF ;margin-bottom:5px; color:#862122 ; background-color:#FFF; } 
.news   .newsRow-right{ float:left ;  width:180px; }
.news   .newsRow-right h3{ color:#CEB760 ; font-size:15px; font-size:13px;   }
.news   .newsRow-right h3 a{ text-decoration:underline; font-size:13px;  line-height:20px;  }
.newsMore a{  color: #F90 ; font-weight:bold ;margin-bottom: 0px;   display:block ; font-size:13px;height:20px;text-decoration:underline;
float:right; } 


/*---- Page  NewsDetail  ------------------------------------------*/     
.newsDetail { background-color:#FFF; padding:10px;margin-bottom:20px;height: auto!important;
height: 800px; min-height: 800px;   }

.newsDetail  .araeTrumbB{margin-bottom:25px; margin: 0px auto; width:496px; display:block;height:302px; overflow:hidden; border: 1px solid #CCC;  }
.newsDetail  .araeContext { color:#000; width:700px; margin:0px auto ; margin-top:10px;  }
.newsDetail  .araeContext h1{ font-size:13px; color:#333; font-family:Tahoma ;  } 
.newsDetail  .araeContext h2{ font-size:13px; color:#333;  font-family:Tahoma ; } 
.newsDetail  .araeContext h3{ font-size:13px; color:#333;  font-family:Tahoma ; } 
.newsDetail  .araeContext h4{ font-size:13px; color:#333;  font-family:Tahoma ; } 

/*---- Page  News Category ------------------------------------------*/     
.newsCate {    }
.newsCate  .newsCateRow{ margin-bottom:10px;   border-bottom:1px  solid  #4C0001 ; clear:both ; padding-bottom:5px;height: auto!important;
height: 100px; min-height: 100px;   }
.newsCate  .newsCateRow  .newsRow-left{ float:left ; border: 1px solid #FFF ;  margin-right:20px; }
.newsCate  .newsCateRow  .newsRow-right{ float:left ;width:600px; }
.newsCate  .newsCateRow  .newsRow-right h3{ font-size:14px; font-weight:bold; color:#F90 ; margin-bottom:10px;  }
.newsCate  .newsCateRow  .newsRow-right  .context { font-size:13px;  }
.newsCate  .newsCateRow  .newsRow-right  .context a { text-decoration:underline;font-weight: normal;  }



/*---- Page Home -------------------------------------------------------*/   
.page-home {  height:auto !important; height:400px; min-height:400px; margin-bottom:30px; } 
.page-home   h3.titleHide { display:none;  }  
/*---- Slot Jquery ---------------*/
ul.slotJquery  {margin-left:5px;   }
ul.slotJquery   li { float:left; padding:0px ;  margin-bottom:10px;   width:170px; text-align:center; } 
ul.slotJquery  li  .row-baner  { display:block ;  margin: 0px auto ;  padding-top:5px;   background:url(../images/update2011/bg_slot.jpg) no-repeat  0px top;   height:92px;  width:158px;   overflow:hidden; } 
ul.slotJquery  li  .row-baner   a { display:block; height:98px;   }
ul.slotJquery  li  .row-baner   a span{ display:none ;  ;}
ul.slotJquery  li  .row-baner  a.sportOnline1{   background: url(../images/update2011/casino_sbobet.png) no-repeat 0px 0px ;   } 
ul.slotJquery  li  .row-baner  a.sportOnline2{   background: url(../images/update2011/casino_ibcbet_new.png) no-repeat 0px 0px ; } 
ul.slotJquery  li  .row-baner  a.sportOnline3{  background: url(../images/update2011/casino_sb1888.png) no-repeat 0px 0px ; } 
ul.slotJquery  li  .row-baner  a.casinoonline1 {  background: url(../images/update2011/casino_holiday.png) no-repeat 0px 0px ; } 
ul.slotJquery  li  .row-baner  a.casinoonline2{   background: url(../images/update2011/casino_gclub_new.png) no-repeat 0px 0px ; } 
ul.slotJquery  li  .row-baner  a.casinoonline3{ background: url(../images/update2011/casino_reddragon.png) no-repeat 0px 0px ; } 
ul.slotJquery  li  .row-baner  a.casinoonline4{   background: url(../images/update2011/casino_855crown.png) no-repeat 0px 0px ; } 
ul.slotJquery  li  .row-baner  a.casinoonline5 {   background: url(../images/update2011/casino_royal_1688.png) no-repeat 0px 0px ; } 
ul.slotJquery  li  .row-baner  a.casinoonline6{   background: url(../images/update2011/casino_genting_crown.png) no-repeat 0px 0px ; } 
ul.slotJquery  li  .row-baner  a.casinoonline7 {   background: url(../images/update2011/casino_baccarat.png) no-repeat 0px 0px ; } 
ul.slotJquery  li  .row-baner  a.casinoonline8 {  background: url(../images/update2011/casino_oulette.png) no-repeat 0px 0px ; }  
ul.slotJquery  li  .row-banerdetail  .name{ padding-top:5px; line-height:14px ; color:#F90; font-size:12px; font-weight:bold;margin-bottom:5px;} 
ul.slotJquery  li  .row-banerdetail  .link  a{ color:#CCC; font-size:13px;  cursor:pointer; text-decoration:none;   } 
ul.slotJquery  li  .row-banerdetail  .link  a:hover {   color:#FF0;  } 
/*---- Slot  Flash ------------------*/
.flash-sportSlot{margin: 0px auto; width:540px; height:98px; display:block ; }  
.flash-casinoSlot1{margin: 0px auto;width:734px;    height:98px; display:block}  
.flash-casinoSlot2{margin: 0px auto;width:734px;    height:98px; display:block}  
ul.slotFlash   {  }
ul.slotFlash    li { float:left; padding:0px ;  margin-bottom:10px;   width:154px;  text-align:center;   margin-right: 35px;  } 
ul.slotFlash    li.last { margin-right:0px; }
ul.slotFlash   li  .row-baner  { display:block ;  margin: 0px auto ;  padding-top:5px;   background:url(../images/update2011/bg_slot.jpg) no-repeat  0px top;   height:92px;  width:158px;   overflow:hidden; } 
ul.slotFlash   li  .row-baner   a { display:block; height:98px;   }
ul.slotFlash   li  .row-baner   a span{ display:none ;  ;}
ul.slotFlash   li  .row-baner  a.sportOnline1{   background: url(../images/update2011/casino_sbobet.png) no-repeat 0px 0px ;   } 
ul.slotFlash   li  .row-baner  a.sportOnline2{   background: url(../images/update2011/casino_ibcbet_new.png) no-repeat 0px 0px ; } 
ul.slotFlash   li  .row-baner  a.sportOnline3{  background: url(../images/update2011/casino_sb1888.png) no-repeat 0px 0px ; } 
ul.slotFlash   li  .row-baner  a.casinoonline1 {  background: url(../images/update2011/casino_holiday.png) no-repeat 0px 0px ; } 
ul.slotFlash   li  .row-baner  a.casinoonline2{   background: url(../images/update2011/casino_gclub_new.png) no-repeat 0px 0px ; } 
ul.slotFlash   li  .row-baner  a.casinoonline3{ background: url(../images/update2011/casino_reddragon.png) no-repeat 0px 0px ; } 
ul.slotFlash   li  .row-baner  a.casinoonline4{   background: url(../images/update2011/casino_855crown.png) no-repeat 0px 0px ; } 
ul.slotFlash   li  .row-baner  a.casinoonline5 {   background: url(../images/update2011/casino_royal_1688.png) no-repeat 0px 0px ; } 
ul.slotFlash   li  .row-baner  a.casinoonline6{   background: url(../images/update2011/casino_genting_crown.png) no-repeat 0px 0px ; } 
ul.slotFlash   li  .row-baner  a.casinoonline7 {   background: url(../images/update2011/casino_baccarat.png) no-repeat 0px 0px ; } 
ul.slotFlash   li  .row-baner  a.casinoonline8 {  background: url(../images/update2011/casino_oulette.png) no-repeat 0px 0px ; }  
ul.slotFlash   li  .row-banerdetail  .name{ padding-top:5px; line-height:14px ; color:#F90; font-size:12px; font-weight:bold;margin-bottom:5px;} 
ul.slotFlash   li  .row-banerdetail  .link  a{ color:#CCC; font-size:13px;  cursor:pointer; text-decoration:none;   } 
ul.slotFlash   li  .row-banerdetail  .link  a:hover {   color:#FF0;  } 


/*---- Page Joincasino ----------------------------------------*/   
.page-joincasino{ background:   url(../images/update2011/join-now_02.png) no-repeat left 100px; height:auto !important; height:575px; min-height:575px; margin-bottom:30px; } 
.page-joincasino-title{ background: url(../images/update2011/join.png) no-repeat left top; height:144px; padding-left:275px; padding-top:130px; height:auto !important; height:400px; min-height:400px; } 
.page-joincasino  h2.titleHide{ display:none;  } 
/*---- Page Deposit --------------------------------------------*/   
.page-deposit{ background:   url(../images/update2011/deposit-withdraw_02.png) no-repeat left 100px; height:auto !important; height:575px; min-height:575px; margin-bottom:30px; } 


.page-deposit-title{ background: url(../images/update2011/deposit-withdraw.png) no-repeat left top; height:144px;  padding-left:275px; padding-top:130px;height:auto !important ; height:400px; min-height:400px;  } 
.page-deposit  h3.titleHide{ display:none;  }  
/*---- Page Contact -----------------------------------------*/   
.page-contact { background:   url(../images/update2011/contact-us_02.png) no-repeat left 100px; height:auto !important; height:400px; min-height:400px; margin-bottom:10px; } 
.page-contact-title{ background: url(../images/update2011/contact-us.png) no-repeat left top; height:144px; padding-left:275px; padding-top:130px; height:auto !important; height:400px; min-height:400px; } 
.page-contact   h3.titleHide{ display:none;  } 
#frmContact { font-family: Tahoma; font-size:12px; color:#FFFFFF; }
#frmContact  input[type="text"] { color:#FFFFFF; background-color:#330000; border:#FF0000 1px solid; width:300px; height:21px; float:left ; }
#frmContact textarea { background-color:#330000; border:#FF0000 1px solid; width:300px; height:86px; overflow:hidden; color:#FFFFFF;  float:left ;}
#frmContact   #capcha1,  #frmContact   #capcha2   { border:#FF0000 1px solid; text-align:center ; width: 70px ; height:28px; } 
#frmContact  .textLabel { color:#FFFFFF; text-align:right; margin-right:5px; }
#frmContact  .important { color:#FF0000;  float:left ;}


/*----Page Service Sport & Casino -------------------------------------------*/  
h3.sportOnline{ background: url(../images/update2011/title_sport_online.png) no-repeat left top; height:100px; text-indent:-5000px; margin-bottom:20px; }
h3.casinoOnline{ background: url(../images/update2011/title_casino_online.png) no-repeat left top; height:100px; text-indent:-5000px; margin-bottom:20px; }
h3.lottoOnline{ background: url(../images/update2011/lotto.png) no-repeat left top; height:120px; text-indent:-5000px; margin-bottom:20px; } 

.banercasinoCol {height:auto !important; height:550px; min-height:550px; width:767px;margin-bottom:10px; position:relative;  }
#pannerLink {  float:left ;margin-top:20px; margin-left:20px;   }
#pannerLink  .rowLinkonline{ margin-bottom:5px;} 
#pannerLink  .linkWay{    }
#pannerLink  .linkService  a { color:#F90 ; } 
#pannerLink  .linkService  a:hover{ text-decoration:underline;  } 

.backHome {position:absolute; right:20px; bottom:0px; font-size:13px } 
.backHome a{  color:#F90 ;text-decoration:none;   } 
.backHome  a:hover{     color:#FC0}  

/*---- Page scores --------------------------------------------*/  
.page-score{ background:   url(../images/update2011/deposit-withdraw_02.png) no-repeat left 100px; height:auto !important; height:575px; min-height:575px; margin-bottom:30px; } 
.page-score-title{ background: url(../images/update2012/schedule_h1.png) no-repeat left top; height:144px; padding-left:90px; padding-top:110px; height:auto !important; height:400px; min-height:400px; } 
.page-deposit  h3.titleHide{ display:none;  }  
.score{  border-collapse: collapse; border-spacing: 1;  width:580px;  color:#333333 ;   font-size:12px; }
.score th { height:23px; border: 1px solid #999; background-color:#1e0606; color:#fff ; }
.score td { height:23px;  background-color:#ebeaea ; border: 1px solid #999;padding: 0px 5px;  }
.score .tOra{ color:#e06307 ; }
.score  .tGreen{ color:#336600 ; }
.score  .tRed {color:#990000;   }


/*---- Page Live Foot ball Streaming ------------------------------*/   
.page-livefb  {}
.page-livefb  h3 { background: url(../images/live_fb/h1_live_fb.png) no-repeat left top; height:130px; text-indent:-5000px; margin-bottom: 0px; }
.page-livefb  h2 {font-size:27 ; margin-bottom:10px;  margin-left:20px; color:#eeefab; } 
.livefb { width:750px ;height:auto!important;  height:170px;  min-height:170px;   clear:both ; } 
.livefb  .livefbPic{ width:120px ; height:120px; float:left ;  margin-right:10px; margin-left:20px; border:2px solid #A88F33; }
.livefb  .livefbPic img{ width:120px ; height:120px; }
.livefb  .livefb-right {  float:left ;   width:550px;}  
.livefb  .livefbName {    width:440px;font-size:12px;color:#Fff ; float:left; background: url(../images/update2011/bullet_circle.png) no-repeat left   2px ;  padding-left:15px;margin-bottom:5px;    }
.livefb  .livefbUrl  a { width:90px; float:left; color:#F90 ;text-decoration:underline; margin-bottom:5px;  }
.livefb  .livefbUrl a:hover {    color:#FC0 }


/*---- Section Radio ---------------------------------------*/  
.radioSection { width: 201px; height: 160px;  /*-moz-border-radius : 10px;  border-radius: 10px; border: 1px solid #CCC ;*/    background: #550000 url(../images/update2012/radi0_h1.png) no-repeat left top;  padding-top:15px;   text-align:left;margin-bottom:5px;  }
.radioSection  h1 {color:#FFF ; margin-left:4px; font-size:25px;margin-bottom:5px;width:120px; line-height:22px;   } 
.radioSection .rowLink{ }
.radioSection .rowLink  h2 { color: #ceb760; font-size: 21px; margin-bottom: 0px;      text-align:center;   }
.radioSection  .rowLink .player{    height:30px;   text-align:center;  } 

.radioChanel{ height : 130px;   background: #550000 url(../images/update2012/radioChanel_bg.jpg) no-repeat left top; padding: 70px 5px  0px ;    } 
.radioChanel  h1{  margin-bottom:0px;  color: #FFF ;padding-left:5px;  } 
.radioChanel  .logoRadio{ float:left; margin-right:10px;  margin-top:10px;border: solid 1px #FFFFFF ;   } 
.radioChanel  .player{ float:left;width: 210px; padding-bottom:20px; } 
.radioChanel 	 .player  h2 { color: #ceb760; } 
.radioChanel 	 .player  .notation { color: #fff; font-size: 11px; padding-top: 10px;  } 



/*---- New Layout ----------------------------------------------*/
h1{ font-size:25px; color:#ffa504;    font-weight:normal }
p {margin-bottom:10px; line-height:19px; font-size:12px}
ol { padding-left:15px;  }
ol li { line-height:20px; font-size:12px  }
#bankBranch { background-color:#530303;  width:445px; height:120px; padding:10px 10px;  clear:both ;}
#bankBranch  ul{  height:80px; float:left  ;  width:140px;}
#bankBranch  li{  display:block; margin-bottom:10px;    
height:auto !important;  height:30px; min-height:33px; 
}

.bankBox1{ float:left  ;  width:36px; }
.bankBox2{float:left  ;width:90px;  }
.bankName{     display:block ;}
.bankService { color:#ffa504;}
.textSmall {  color:#F90;  } 
.textYellow {color:#F90;   font-size:25px ; font-family: 'DBHelvethaicaX45Li';  }


/*---- Page Account Open ------------------------------------------*/
.pageAccOpen {font-size:12px;  }
.pageAccOpen div { clear: both;margin-bottom:5px;    }
.pageAccOpen label { width: 120px; display: block; float: left; text-align: right; margin-right: 5px; }
.pageAccOpen  select.select  {   }
.pageAccOpen .star{ color:#Fff; margin-left:10px; } 
.pageAccOpen .captcha { width:50px;  margin-right:10px;} 
.pageAccOpen  .checkBox {margin-left:20px; width:400px; }
.pageAccOpen  .submit{margin-left:120px;  }
.pageAccOpen  .btn    {    font-size: 13px;  background-color: #333333; color: white; border: #666 1px solid;   padding: 2px 5px; color:#FFF;  }   

/*---- Page Account Open  ----------------------------------------------*/
.pageAccOpen {font-size:12px;  }
.pageAccOpen div { clear: both;margin-bottom:5px;    }
.pageAccOpen label { width: 120px; display: block; float: left; text-align: right; margin-right: 5px; }
.pageAccOpen  select.select  {   }
.pageAccOpen .star{ color:#Fff; margin-left:10px; } 
.pageAccOpen .captcha { width:50px;  margin-right:10px;} 
.pageAccOpen  .checkBox {margin-left:20px; width:400px; }
.pageAccOpen  .submit{margin-left:120px;  }
.pageAccOpen  .btn    {    font-size: 13px;  background-color: #333333; color: white; border: #666 1px solid;   padding: 2px 5px; color:#FFF;  }   




/*-------- Page Live football --------------------------*/   
table.liveFb { background-color: #CCC; color: #333; font-size: 11px }
table.liveFb a { color: #900; text-decoration: underline; font-size: 11px; color:#3A6899;  }
table.liveFb a:hover { color: #F00; text-decoration: underline; color:#0033CC;  }
table.liveFb a.lock{  color:#FF6600 ; } 
table.liveFb a.lock :hover{  color:#FF6633 ; }
table.liveFb th {   height: 25px; background-color:  #A88F33  ; color:#FFF  ;}
table.liveFb td {   background-color: #fff; padding: 0px 6px;padding : 4px 2px; vertical-align:top  ; text-align:center ; }

table.liveFb   label {float:right;  }  
table.liveFb   label.red { color: #F00 ;  }  
table.liveFb   label.blue {color: #00F ;   }  
table.liveFb .newMsg { background: url(../images_chat/comments2.gif) no-repeat left top; width: 40px; display: block; padding-left: 10px; margin: 0px auto; color: #FF0000; height: 20px; }
table.liveFb .noMsg { }
table.liveFb .userOffline { color: #666; background: url(../images_chat/icon_offline.png) no-repeat left top; width: 50px; display: block; padding-left: 20px; margin: 0px auto; }
table.liveFb .userOnline { color: #666; background: url(../images_chat/icon_online.png) no-repeat left top; width: 50px; display: block; padding-left: 20px; margin: 0px auto; }
table.liveFb input.button { padding: 2px 10px; font-size: 11px;  background-color: #640000; color: white; border: #666 1px solid;   padding: 2px 5px }



/*-----Section LiveScore ---------------------------------------------------------------------------------------------------------------*/ 
#liveScore-outer{ background: url(../images/update2011/pattern_dot.gif) repeat left top;  } 
#liveScore{ padding: 10px 10px 10px 10px; width: 760px; margin-left: 0px; background: url(../images/update2011/live_score_h1.png) no-repeat 10px top; height: auto !important; height: 150px; min-height: 150px; padding-left: 10px; margin-bottom: 10px; position: relative; left: 0px; bottom : 0px; }

#liveScore   h3.liveScoreTitle{ clear:both; margin-bottom: 0px;  height: 37px; width: 251px; }
#liveScore   h3.liveScoreTitle  span{ display:none} 

#liveScore  .col{ width:270px;  float:left ; }
#liveScore  .colLast{ width:200px;  float:left ; margin-left:10px;}
#liveScore   .title{ clear:both; margin-bottom:10px;color:#a88f33;   font-size:13px; }
#liveScore   .title  .topic1{ background: url(../images/update2011/live_score_topic1.png) no-repeat left top; height: 16px; display: block; text-indent:-3000px;  }
#liveScore   .title  .topic2{ background: url(../images/update2011/live_score_topic2.png) no-repeat left top; height: 16px; display: block;  text-indent:-3000px;}
#liveScore   .title  .topic3{ background: url(../images/update2011/live_score_topic%203.png) no-repeat left top; height: 16px; display: block;  text-indent:-3000px; }
#liveScore  .title   img{ clear:both; display:block  }
#liveScore   .chanel   {  }
#liveScore  .chanel  ul  { float:left ;  display:block ;width:120px; margin-right:0px;   } 
#liveScore  .chanel  li { margin-bottom:5px; float:left; clear:both; font-size:11px; background: url(../images/icon_live.gif) no-repeat right  3px; }
#liveScore   .chanel  li  a{  float:left ; margin-right:5px;  display:block; text-decoration:none; color:#F90;width:80px; cursor:pointer ; margin-right:30px; }
#liveScore   .chanel  li  a:hover {   text-decoration:underline;    }
#liveScore   .chanel  li  img{  float:left ;  }  





