 <style type="text/css" media="screen">
body { padding: 0; margin:0px }
#container { width: 500px; padding: 10px; border: 1px solid #bfbfbf; margin: 0 auto; 
position: relative;overflow:hidden;  }
#window { width: 400px; height: 100px; padding: 10px; border: 3px solid #666; margin: 0 auto;  
}
.box { height: 100px; width: 100px; border: 1px solid #666666; position: absolute; z-index: -1; }
/*.red { background-color: #ff6868; }
.green { background-color: 7cd980; }
.blue { background-color: #5793ea; }
.yellow { background-color: #f9f69e; }
.purple { background-color: #ffbffc; }
.cyan { background-color: #bff3ff; }*/
</style>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
<script type="text/javascript" charset="utf-8">
$(window).load(function() { 
    arrangeBoxes();
    setInterval('shiftLeft()', 5000);
});

/*----- arrange the boxes to be aligned in a row --------*/
function arrangeBoxes() {
    $('.box').each( function(i, item) {
		var StartBox = 200 ;// point to start
        var position = $('#window').position().left + StartBox +  ( i * ( $(item).width() + 10  )  )  ;
	
		 // console.log(  $(position)   );	
		 // console.log( $('#window').position().left  );
        $(item).css('left', position+'px')
    });
	
}

/*----- shifts all the boxes to the left, then checks if any left the window --------*/
function shiftLeft() {
     $('.box').animate({'left' : "-=100px"}, 5000, 'linear', checkEdge());
}

/*----- returns the new location for the box that exited the window --------*/
function getNewPosition() {
    return $('.box:last').position().left + $('.box:last').outerWidth() + 10;
	//console.log(  $('.box:last').outerWidth() );
}

/*----- if the box is outside the window, move it to the end --------*/
function checkEdge() {
	 // distance  left side btween #window &  #container 
    var windowsLeftEdge = $('#window').position().left; 
	 //console.log(windowsLeftEdge);

    $('.box').each( function(i, box) {
	 
       /*----- right edge of the sliding box --------*/
        var boxRightEdge = $(box).position().left + $(box).width();
		// console.log( $(box).position().left   );

        /*----- position of last box + width + 10px --------*/
        var newPosition = getNewPosition();
		 //console.log(  newPosition); 
		  console.log(  box); 
	  // console.log(   parseFloat(windowsLeftEdge) +"&"+ parseFloat(boxRightEdge)  );
	 
	 
        if ( parseFloat(windowsLeftEdge) > parseFloat(boxRightEdge)   ) { 
            $(box).css('left', newPosition);
            $(box).remove().appendTo('#window');
            first = $('.box:first').attr('class');
        }
    });//end each
}
  </script>
 

 
 
<div id="container">
		<div id="window">
				<div class="box red"></div>
				<div class="box green"></div>
				<div class="box blue"></div>
				<div class="box yellow"></div>
				<div class="box purple"></div>
				<div class="box cyan"></div>
		</div>
</div>
 