<style>
*{ margin:0px ; padding:0px; } 
#contain { height:200px; width:600px;  border: 1px solid #F00 ;margin:10px;padding:10px; }
#slotBox{height:250px;   border: 1px solid #00F ;padding-top:30px; } 
.slot-Outer {width:160px;  float:left  ;     } 

.slotLogo{  height:400px;  border: 3px solid #F00 ;  position:relative; overflow:hidden ; 
background: url(images/update2011/bg_slot.jpg) no-repeat left top; }  
.slotLogo  div{  height:100px;width:160px;   position:absolute;  border: 1px solid #FF00FF;  }
.slotLogo .a{ background: url(images/update2011/casino_855crown_new.png) no-repeat left top ; } 
.slotLogo .B{   background: url(images/update2011/casino_baccarat_new.png) no-repeat left top;  }

.slotName{ width:160px ; height:20px;}   
</style>
 
<script src="js/jquery_last.js"></script> 
<script > 
$(document).ready(function(){ 
	 setTimeout('GoBottom()' ,200); 
});//end ready	

/*------ start position slot---------*/	
function StartPosition(){
	
}

/*------ animation top ---------*/	
 function GoBottom(){ 
 	 $(".slotLogo div").each(function(index, element) {
			 $(this).animate({top :"110px"}  ,  function(){ 
				 CheckEdgeTop();   
			 });
			
	 });//end each
 }
   

/*------ check adge ---------*/
function  CheckEdgeTop(){
	// var edgeTop = $(".slotLogo  div").position()  ; 
	 //console.log( edgeTop  );  
	 
	 $(".slotLogo div").each(function(index, element) {
		var slotHeight = $(this).height(); // height of slot
	    var  slotPosi  = $(".slotLogo div").position().top ;  // position slot  after move
	 
 //console.log( "slotHeight  ="+slotHeight ); 
//console.log(   slotPosi  );  
//console.log(  slotPosi > slotHeight  ); 
// console.log( index );  
 console.log( $(element) ); 
		 
		 if( slotPosi > slotHeight){
			  $(element).css('top',  " -100px" );
           // $(element).remove() ; // .appendTo('#window');
           // first = $('.box:first').attr('class');
			
			
			  // $(element).css( 'top'  , "-90px"  );
			// console.log( $(this)  );
			//element.css('top' , "-200px");
			 
		 }//end if 
		
	});//end each
 
	 
 
}
 	
</script>

 <div id="contain">
<ul  id="slotBox">

<li class="slot-Outer">
<div class="slotLogo"><div class="A"></div></div>
<div class="slotName"><a>Holiday-Palace</a></div>
</li> 

<li   class="slot-Outer">
<div class="slotLogo"><div class="B"></div></div>
<div class="slotName"><a>Holiday-Palace</a></div>
</li>

</ul><!--  id="slotBox"---->
</div><!-- end  id="containSlot" ---->




















