
<script src="js/jquery_last.js"></script> 
<script > 
$(document).ready(function(){
	
  $("li").click(function(){
	 //$(this).animate({height:"300px"}); //no ok
	//$(this).animate({top:"100px"});
	
	$(this).animate({ "top" : "100px"} , function(){
		
		$(this).append("<span>sss</span>");
	});
	
  });//end  hover
});//end ready


 
	
</script>

<style>
* { margin:0px ; padding:0px; } 
ul {border: 2px solid  #00F;  width:500px; height:200px; }
li { border: 2px solid #F00  ; width:100px; float:left;  height:100px; margin-right:10px; position:relative}
li span{  height:20px; width:20px; background-color:#0C0;}
</style>
 

<ul>
<li>
<a></a>
</li>

<li>
<a></a>
</li>
</ul>