@charset "utf-8";
/* CSS Document */

#navMenu { font-family:arial; text-align:center; font-size:23px; font-family: 'DBHelvethaicaX45Li'; color:#FFFFFF; background-color:#640000; width:992px ; margin: 0px auto ; }
#navMenu li { float:left;  /*border-top:1px solid #a94646 ; */ border-right:1px solid #700909; border-bottom:1px solid #700909; border-left:1px solid #460202; width: 120px; height: 30px; position:relative;/* must set it as relative, because .hover class top and left with absolute position will be positioned according to li.	*/ padding-top:5px; }
#navMenu li a { z-index:20;/* z-index must be higher than .hover class */ padding: 5px 10px; background-color:#330000 display:block;/* display as block and set the height according to the height of the menu to make the whole LI clickable	*/
position:relative; text-decoration:none; }
#navMenu li a:hover { color:#FFFFFF}
/*----  mouseover image	 ---------------------*/
/* 
#navMenu li .hover {background-color:#00FF00; width: 120px; height: 35px;
background:url(images/update2011/menu_top_over.jpg) no-repeat left top; position:absolute;  left:0; top:0; z-index:0; display:none; 
} */
#navMenu li .hover {   background-color:#bc0909 ; width: 120px; height: 35px;
position:absolute;left:0; top:0; z-index:0;/* must be postion absolute  & display under the Anchor tag	*/ display:none;/* hide it by default	*/   } 
#navMenu li.selected{background-color:#bc0909;}