<link href="bx_slide.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="jquery_last.js"></script>
<script type="text/javascript" src="jquery.bxSlider.min.js"></script>
 <script type="text/javascript">
(function($){	
  $(function(){
    $('#slider1').bxSlider({
      auto: true,
      pager: true
    });
  });	
}(jQuery))
</script>


                        <div class="demo-wrap">
                          <ul id="slider1">
                            <li>
                              <div class="left"> <img src="images/pic_velvet1.jpg" width="169" height="169" /> </div>
                              <div class="right">
                                <div class="album">The Velvet Underground &amp; Nico</div>
                                <div class="band">The Velvet Underground</div>
                              </div>
                            </li>
                            <li>
                              <div class="left"> <img src="images/pic_velvet2.jpg" width="169" height="169" /> </div>
                              <div class="right">
                                <div class="album">White Light / White Heat</div>
                                <div class="band">The Velvet Underground</div>
                              </div>
                            </li>
                            <li>
                              <div class="left"> <img src="images/pic_velvet3.jpg" width="169" height="169" /> </div>
                              <div class="right">
                                <div class="album">The Velvet Underground</div>
                                <div class="band">The Velvet Underground</div>
                              </div>
                            </li>
                            <li>
                              <div class="left"> <img src="images/pic_velvet4.jpg" width="169" height="169" /> </div>
                              <div class="right">
                                <div class="album">Loaded</div>
                                <div class="band">The Velvet Underground</div>
                              </div>
                            </li>
                          </ul>
                        </div>
                     