 
<link rel="shortlink" href="/node/12" />
  <title>Perform an action before a transition (callback) | bxSlider</title>
  <style type="text/css" media="all">@import url("http://bxslider.com/modules/field/theme/field.css?m7gz64");
@import url("http://bxslider.com/sites/all/modules/google_analytics_reports/google_analytics_reports/google_analytics_reports.css?m7gz64");
@import url("http://bxslider.com/sites/all/modules/views/css/views.css?m7gz64");</style>
<style type="text/css" media="all">@import url("http://bxslider.com/sites/all/modules/codefilter/codefilter.css?m7gz64");
@import url("http://bxslider.com/sites/all/modules/ctools/css/ctools.css?m7gz64");</style>
<style type="text/css" media="all">@import url("http://bxslider.com/sites/all/themes/bx/css/reset.css?m7gz64");
@import url("http://bxslider.com/sites/all/themes/bx/css/bx.css?m7gz64");</style>

<!--[if IE]>
<style type="text/css" media="all">@import url("http://bxslider.com/sites/all/themes/bx/css/ie.css?m7gz64");</style>
<![endif]-->
  <script type="text/javascript" src="http://bxslider.com/sites/default/files/js/js_OUYbOVdgpVsXOdB2zFglWtxDbaBrvQlNhLOq45JrbmE.js"></script>
<script type="text/javascript" src="http://bxslider.com/sites/default/files/js/js_0xSOf1oN6BsJgLtVvcyShl4BsQ4So6JMSkF4OVIYLYQ.js"></script>
<script type="text/javascript" src="http://bxslider.com/sites/default/files/js/js_IDBX5SzkJ9gGNq7x-qOE_2DZsexqguTJQGMKvi4w-Uw.js"></script>
<script type="text/javascript">
<!--//--><![CDATA[//><!--
var _gaq = _gaq || [];_gaq.push(["_setAccount", "UA-24972830-2"]);_gaq.push(["_trackPageview"]);(function() {var ga = document.createElement("script");ga.type = "text/javascript";ga.async = true;ga.src = ("https:" == document.location.protocol ? "https://ssl" : "http://www") + ".google-analytics.com/ga.js";var s = document.getElementsByTagName("script")[0];s.parentNode.insertBefore(ga, s);})();
//--><!]]>
</script>
<script type="text/javascript" src="http://bxslider.com/sites/default/files/js/js_-TJoLLzY5Z1EMn_MH_5zmnPnJswkRm2pb-vR7AOwEbM.js"></script>
<script type="text/javascript" src="http://bxslider.com/sites/default/files/js/js_AHyBAYZMC0aoLby7IhzDcekyKo2__10bztcN6PSiv_g.js"></script>
<script type="text/javascript">
<!--//--><![CDATA[//><!--
jQuery.extend(Drupal.settings, {"basePath":"\/","pathPrefix":"","ajaxPageState":{"theme":"bx","theme_token":"ZIWUkgauCBOhXx5YF4S1VpdVyyYYNVieNd1fsKURM9c","js":{"misc\/jquery.js":1,"misc\/jquery.once.js":1,"misc\/drupal.js":1,"sites\/all\/modules\/google_analytics_reports\/google_analytics_reports\/google_analytics_reports.js":1,"sites\/all\/modules\/google_analytics\/googleanalytics.js":1,"0":1,"sites\/all\/themes\/bx\/js\/jquery.scrollTo-1.4.2-min.js":1,"sites\/all\/themes\/bx\/js\/jquery.easing.1.3.js":1,"sites\/all\/themes\/bx\/js\/jquery.bxSlider.min.js":1,"sites\/all\/themes\/bx\/js\/bx.js":1,"sites\/all\/modules\/views\/js\/jquery.ui.dialog.patch.js":1},"css":{"modules\/field\/theme\/field.css":1,"sites\/all\/modules\/google_analytics_reports\/google_analytics_reports\/google_analytics_reports.css":1,"sites\/all\/modules\/views\/css\/views.css":1,"sites\/all\/modules\/codefilter\/codefilter.css":1,"sites\/all\/modules\/ctools\/css\/ctools.css":1,"sites\/all\/themes\/bx\/css\/reset.css":1,"sites\/all\/themes\/bx\/css\/bx.css":1,"sites\/all\/themes\/bx\/css\/ie.css":1}},"googleanalytics":{"trackOutbound":1,"trackMailto":1,"trackDownload":1,"trackDownloadExtensions":"7z|aac|arc|arj|asf|asx|avi|bin|csv|doc|exe|flv|gif|gz|gzip|hqx|jar|jpe?g|js|mp(2|3|4|e?g)|mov(ie)?|msi|msp|pdf|phps|png|ppt|qtm?|ra(m|r)?|sea|sit|tar|tgz|torrent|txt|wav|wma|wmv|wpd|xls|xml|z|zip"}});
//--><!]]>
</script>
</head>
<body class="html not-front not-logged-in one-sidebar sidebar-second page-node page-node- page-node-12 node-type-example bx" >
  <div id="skip-link">
    <a href="#main-content" class="element-invisible element-focusable">Skip to main content</a>
  </div>
    <script type="text/javascript">
(function(){
  var bsa = document.createElement('script');
     bsa.type = 'text/javascript';
     bsa.async = true;
     bsa.src = '//s3.buysellads.com/ac/bsa.js';
  (document.getElementsByTagName('head')[0]||document.getElementsByTagName('body')[0]).appendChild(bsa);
})();
</script>

<div id="page">
  <div id="page-inner"><!-- end header -->
	
	      
  <div id="main-content" class="clearfix">
    <h3 class="page-title">Perform an action before a transition (callback)</h3>    <div id="content">  <div class="region region-content">
    
<div class='block-system block-page-content clearfix'  id="block-system-main">
  
  
  
  
      <div  class="block-content clearfix">
<div class='node node-example node-promoted clearfix'  about="/examples/perform-action-transition-callback" typeof="sioc:Item foaf:Document" id="node-12">
  
  
      <div class='node-content clearfix '>
      <div class="field field-name-body field-type-text-with-summary field-label-hidden prose"><div class="field-items"><div class="field-item even" property="content:encoded"><script type="text/javascript">
(function($){	
  $(function(){
    $('#slider1').bxSlider({
      pager: true,
      onBeforeSlide: function(currentSlide, totalSlides){
        $('.field-name-field-custom .field-item').append('<p class="check">Slide index ' + currentSlide + ' of ' + totalSlides + ' total slides has completed.');
      }
    });
  });	
}(jQuery))
</script>

<div class="demo-wrap">
<ul id="slider1">
  <li>
    <div class="left">
      <img src="/sites/all/themes/bx/images/pic_velvet1.jpg" width="169" height="169" />
    </div>
    <div class="right">
      <div class="album">The Velvet Underground &amp; Nico</div>
      <div class="band">The Velvet Underground</div>
    </div>
  </li>
  <li>
    <div class="left">
      <img src="/sites/all/themes/bx/images/pic_velvet2.jpg" width="169" height="169" />
    </div>
    <div class="right">
      <div class="album">White Light / White Heat</div>
      <div class="band">The Velvet Underground</div>
    </div>
  </li>
  <li>
    <div class="left">
      <img src="/sites/all/themes/bx/images/pic_velvet3.jpg" width="169" height="169" />
    </div>
    <div class="right">
      <div class="album">The Velvet Underground</div>
      <div class="band">The Velvet Underground</div>
    </div>
  </li>
  <li>
    <div class="left">
      <img src="/sites/all/themes/bx/images/pic_velvet4.jpg" width="169" height="169" />
    </div>
    <div class="right">
      <div class="album">Loaded</div>
      <div class="band">The Velvet Underground</div>
    </div>
  </li>
</ul>
</div>
</div></div></div>
      </div>
  
      <div class='node-links clearfix'> </div></div></div></div><div class='block block-views clearfix'  id="block-views-examples-block">
  
  
  
       
  
  </div>

  </div>
</div>
  </div>
  <div class="clear"></div>

</div></div><!-- end page -->

<div id="footer"></div><!-- end footer -->
</body>
</html>
