<link href="images/bx_styles.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="jquery_last.js"></script>
<script type="text/javascript" src="jquery.bxSlider.min.js"></script>
<script type="text/javascript">
(function($){	
  $(function(){
    // assign the slider to a variable
    var slider = $('#slider1').bxSlider({ 
      controls: false  
	  
    });
  
    // assign a click event to the external thumbnails
    $('.thumbs a').click(function(){
      var thumbIndex = $('.thumbs a').index(this);
      // call the "goToSlide" public function
      slider.goToSlide(thumbIndex);
    
      // remove all active classes
      $('.thumbs a').removeClass('pager-active');
      // assisgn "pager-active" to clicked thumb
      $(this).addClass('pager-active');
      // very important! you must kill the links default behavior
      return false;
    });
  
    // assign "pager-active" class to the first thumb
    $('.thumbs a:first').addClass('pager-active');
    
  }); //  end $(function(){
  
}(jQuery)) // end (function($){ /* this make anomuys function protect config Jquery  
</script>

<div class="demo-wrap">
  <ul id="slider1">
    <li>
      <div class="left"> <img src="images/pic_velvet1.jpg" width="169" height="169" /> </div>
      <div class="right">
        <div class="album">The Velvet Underground &amp; Nico</div>
        <div class="band">The Velvet Underground</div>
      </div>
    </li>
    <li>
      <div class="left"> <img src="images/pic_velvet2.jpg" width="169" height="169" /> </div>
      <div class="right">
        <div class="album">White Light / White Heat</div>
        <div class="band">The Velvet Underground</div>
      </div>
    </li>
    <li>
      <div class="left"> <img src="images/pic_velvet3.jpg" width="169" height="169" /> </div>
      <div class="right">
        <div class="album">The Velvet Underground</div>
        <div class="band">The Velvet Underground</div>
      </div>
    </li>
    <li>
      <div class="left"> <img src="images/pic_velvet4.jpg" width="169" height="169" /> </div>
      <div class="right">
        <div class="album">Loaded</div>
        <div class="band">The Velvet Underground</div>
      </div>
    </li>
  </ul>
</div>
</div>
</div>
</div>
 
      <div class="thumbs"> <a href=""><img src="images/pic_velvet1_thumb.jpg" /></a> <a href=""><img src="images/pic_velvet2_thumb.jpg" /></a> <a href=""><img src="images/pic_velvet3_thumb.jpg" /></a> <a href=""><img src="images/pic_velvet4_thumb.jpg" /></a> </div>
    