 <link href="images/bx_styles.css" rel="stylesheet" type="text/css">

 <script type="text/javascript" src="jquery_last.js"></script>
 <script type="text/javascript" src="jquery.bxSlider.min.js"></script>
 
 
 
 
 <script type="text/javascript">
(function($){	
  $(function(){
    $('#slider1').bxSlider({
      pager: true,
      buildPager: function(slideIndex){
        switch (slideIndex){
          case 0:
            return '<a href=""><img src="images/pic_velvet1_thumb.jpg" /></a>';
          case 1:
            return '<a href=""><img src="images/pic_velvet2_thumb.jpg" /></a>';
          case 2:
            return '<a href=""><img src="images/pic_velvet3_thumb.jpg" /></a>';
          case 3:
            return '<a href=""><img src="images/pic_velvet4_thumb.jpg" /></a>';
        }
      }
    });
  });
}(jQuery))
</script>


<div class="demo-wrap build-pager">
<ul id="slider1">
  <li>
    <div class="left">
      <img src="images/pic_velvet1.jpg" width="169" height="169" />
    </div>
    <div class="right">
      <div class="album">The Velvet Underground &amp; Nico</div>
      <div class="band">The Velvet Underground</div>
    </div>
  </li>
  <li>
    <div class="left">
      <img src="images/pic_velvet2.jpg" width="169" height="169" />
    </div>
    <div class="right">
      <div class="album">White Light / White Heat</div>
      <div class="band">The Velvet Underground</div>
    </div>
  </li>
  <li>
    <div class="left">
      <img src="images/pic_velvet3.jpg" width="169" height="169" />
    </div>
    <div class="right">
      <div class="album">The Velvet Underground</div>
      <div class="band">The Velvet Underground</div>
    </div>
  </li>
  <li>
    <div class="left">
      <img src="images/pic_velvet4.jpg" width="169" height="169" />
    </div>
    <div class="right">
      <div class="album">Loaded</div>
      <div class="band">The Velvet Underground</div>
    </div>
  </li>
</ul>
</div>
</div></div></div> 
          </div>
  
      <div class='node-links clearfix'>
          </div>
  </div>

</div>
  
  </div>


<div class='block block-views clearfix'  id="block-views-examples-block">
  
      <h2  class="block-title clearfix">&nbsp;
            </h2>
  
  
  
       
  
  </div>

  </div>
</div>
  </div>

       
  
	<div class="clear"></div>

</div></div><!-- end page -->

<div id="footer"> </div><!-- end footer -->
  </body>
</html>
