@charset "utf-8";
/* CSS Document */

 /*-----Clear ----------------------------------------------------------------------------------------*/
html, body, div, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, fieldset, input, img { margin: 0px; padding: 0px;  }
h1, h2, h3, h4, h5, h6, pre, code, address, caption, cite, code, th { font-size: 12px; font-weight: normal; font-style: normal;   }
ul, ol { list-style: none; }
fieldset, img { border: none; }

clear {  clear:both ;}

/*-----layout-----------------------------------------------------------------------------------------*/
body { background: #4e0202 url(../images/bgBodyPattern1.jpg) repeat left top; margin: 0px auto; font-size:12px ; 
color:#FFFFFF;  font-family: Tahoma, Verdana, Arial  ; position:relative ; }  
 
#preContainer{ width:100%;    display:block; padding-top: 15px;}
#container { float:none; width:1012px; position: relative; margin: 0px auto; background-color: #990000  ;  height:700px;  }

/*-------- im_user  ------------------------------------------------------------*/
#im_user  { background-color: #bbb;  bottom: 0px;   height: 100%; position: fixed; width:150px; z-index: 1000;right:0px; padding: 0px 10px;   }
#im_user  h1{ color:#666666 ;font-size:17px; margin-bottom:5px;}
#im_user   li{ height:25px; margin-bottom:5px; display:block;   padding-left:25px;  clear:both ;}
#im_user   li.online{  background: url(../images/icons_messenger.png) no-repeat  0px top;   }
#im_user   li.offline{  background: url(../images/icons_messenger.png) no-repeat  0px -26px;   }


#im_user   ul#user_list {  overflow:auto ; height:600px  ;overflow-x: hidden;} 
#im_user   a{ text-decoration:none ;  color:#FFF;  line-height:27px; float:left ; margin-right:5px;  padding-top:0px}
#im_user  a:hover{ text-decoration:underline ;  color:#FC0;  } 
#im_user   li  #user_sms { float:left; background: url(../images/message.png) no-repeat left 5px; width:35px; height:20px; display:block; padding-top:7px; text-align:right; font-weight:bold; color:#FFFF00; } 

/*-------- im_message  Admin------------------------------------------------------------*/


#im_message_frame {background-color: #CCCCCC;  bottom: 0px;    position: fixed; width:300px; z-index: 1000;right:0px; padding: 0px 10px 0px  0px   ; border:1px solid #bbbbbb ; color: #FFF }
#im_message_frame  .btn_close { position:absolute; top:  0px; right:5px; z-index:5000; color:#FF0000; background: url(../images/bt_close.png) no-repeat 7px 4px; height:50px; width:30px; }
#im_message_frame #im_btn_status { background-color: #333333;  bottom: 0px;   right:0px;   color: #333 ;padding: 10px  5px 10px 5px  ; font-weight:bold ;height: 10px;   width:300px; z-index: 1000;  color:#FFFFFF ; }
#im_message_frame  #im_message_area  {  height:auto !important ; height:200px; min-height:200px;  } 

/* this warp  message*/
#im_message_frame   #im_message_detail 
{ height:200px;   overflow:auto ;  overflow-x: hidden; margin-top:15px; padding: 5px  3px  0px  3px ; width:290px; 
margin-bottom:10px; text-wrap:normal ; background-color:#eeeeee; margin-left:5px;  color:#333333}
.nameUser { font-weight:bold ; color:#333333 ; width:60px; display:block ; float:left ; margin-bottom:10px ; height:auto !important ; height:14px; min-height:14px; text-align:right; }
.comma {float:left ; width:10px; text-align:center ; }
 .detail {   width:190px; display:block ; float:left  ;  margin-bottom:10px ;  word-wrap:break-word; height:auto !important ; height:14px; min-height:14px;  }

#register_message {  margin: 0px auto  ;  margin-bottom:10px;        width:230px;   }  
#register_message  label {width:50px; display:block ; margin-right:10px; text-align:right ;font-weight:bold ;       float:left ;   }  
#register_message  input[type='text'] {  display:inline ;width:150px; float:left ;       margin-bottom:10px;}   
#register_message  input[type='submit']{  padding: 2px 5px;   margin-left:60px  ;font-size:11px; font-weight:bold ;  }
 
 
#user_message {  margin: 0px auto  ;  margin-bottom:10px;        width:300px;  margin-left:10px;  }
#user_message   label{width:60px; display:block ; margin-right:5px; text-align:right ;font-weight:bold ;margin-left:5px;       float:left ;    }
#user_message   input[type='text']{ display:inline ;width:220px; margin-right:5px;  float:left ;       margin-bottom:10px;}
#user_message  input[type='submit']{   padding: 2px 5px;   ;  float:left ; font-size:10px;  font-weight:bold }
 
  
 
 #admin_message {  margin: 0px auto  ;  margin-bottom:10px;        width:300px;  margin-left:10px; }
 #admin_message   label{width:60px; display:block ; margin-right:5px; text-align:right ;font-weight:bold ;margin-left:5px;       float:left ;  }
 #admin_message   input[type='text']{ display:inline ;width:230px; margin-right:5px;  float:left ;       margin-bottom:10px;}
 #admin_message  input[type='submit']{  padding: 2px 5px;   ;  float:left ; font-size:10px;  font-weight:bold}
 
 
 
/*-------- Button All   //// default  btn show  size  medium //// -----------------------------------------------------------------------------------------------------------------------------------------*/ 
 .awesome, .awesome:visited { display: inline-block; padding: 4px 10px 4px; color: #fff; text-decoration: none; -moz-border-radius: 5px; -webkit-border-radius: 5px; -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5); -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5); text-shadow: 0 -1px 1px rgba(0,0,0,0.25); border-bottom: 1px solid #F00; position: relative; cursor: pointer; background-color: #333; /*background-image: url(../images/sharp/alert-overlay.png); background-repeat: repeat-x;*/     }  /*  alert-overlay.png   ////  important for  btn  black   &   another btn not important   ////   */
.awesome:hover { background-color: #000; color: #fff; } /* for color  btn  black  */
.awesome:active { top: 1px; } 

/*-------- set  Button  size  ///// use by add name   large  or  medium   to class   ////  --------*/ 
.small.awesome, .small.awesome:visited { font-size: 11px; padding: 0px; } 
.awesome, .awesome:visited, .medium.awesome, .medium.awesome:visited { font-size: 12px; font-weight: bold; line-height: 1; text-shadow: 0 -1px 1px rgba(0,0,0,0.25); }
.large.awesome, .large.awesome:visited { font-size: 14px; padding: 6px 14px 9px; border: 2px solid #F00; }

/*-------- set  Button  color   --------*/ 
.blue.awesome, .blue.awesome:visited { background-color: #2daebf; }
.blue.awesome:hover { background-color: #007d9a; }
.red.awesome, .red.awesome:visited { background-color: #FF0000; }
.red.awesome:hover { background-color: #FF3333; }
.magenta.awesome, .magenta.awesome:visited { background-color: #a9014b; }
.magenta.awesome:hover { background-color: #630030; }
.orange.awesome, .orange.awesome:visited { background-color: #ff5c00; }
.orange.awesome:hover { background-color: #d45500; }
.yellow.awesome, .yellow.awesome:visited { background-color: #ffb515; }
.yellow.awesome:hover { background-color: #fc9200; }
 .graydark.awesome, .graydark.awesome:visited { background-color: #333;  border: 2px solid #F00; }
.graydark.awesome:hover { background-color: #000; }
 .gray.awesome, .gray.awesome:visited { background-color: #333;  border: 1px solid #CCC; }
.gray.awesome:hover { background-color: #666; }