@charset "utf-8";
/* CSS Document */

 /*-----Clear ----------------------------------------------------------------------------------------*/
html, body, div, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, fieldset, input, img { margin: 0px; padding: 0px;  }
h1, h2, h3, h4, h5, h6, pre, code, address, caption, cite, code, th { font-size: 12px; font-weight: normal; font-style: normal;   }
ul, ol { list-style: none; }
fieldset, img { border: none; }

clear {  clear:both ;}

/*-----layout-----------------------------------------------------------------------------------------*/
body { background: #4e0202 url(../images/bgBodyPattern1.jpg) repeat left top; margin: 0px auto; font-size:12px ; 
color:#FFFFFF;  font-family: Tahoma, Verdana, Arial  ; position:relative ; }  
 
#preContainer{ width:100%;    display:block; padding-top: 15px;}
#container { float:none; width:1012px; position: relative; margin: 0px auto; background-color: #990000  ;  height:700px;  }

/*-------- im_user  ------------------------------------------------------------*/
#im_user  { background-color: #666666;  bottom: 0px;   height: 100%; position: fixed; width:150px; z-index: 1000;right:0px; padding: 0px 10px;   }
#im_user  h1{ color:#FFFF00 ;font-size:17px; margin-bottom:5px;}
#im_user   li{ height:25px; margin-bottom:5px; display:block;   padding-left:25px;  clear:both ;}
#im_user   li.online{  background: url(../images/icons_messenger.png) no-repeat  0px top;   }
#im_user   li.offline{  background: url(../images/icons_messenger.png) no-repeat  0px -26px;   }


#im_user   ul#user_list {  overflow:auto ; height:600px  ;overflow-x: hidden;} 
#im_user   a{ text-decoration:none ;  color:#FFF;  line-height:27px; float:left ; margin-right:5px;  padding-top:0px}
#im_user  a:hover{ text-decoration:underline ;  color:#FC0;  } 
#im_user   li  #user_sms { float:left; background: url(../images/message.png) no-repeat left 5px; width:35px; height:20px; display:block; padding-top:7px; text-align:right; font-weight:bold; color:#FFFF00; } 

/*-------- im_message  Admin------------------------------------------------------------*/


#im_message_frame {background-color: #2e0000;  bottom: 0px;    position: fixed; width:300px; z-index: 1000;right:0px; padding: 0px 10px 0px  0px   ; border:5px solid #78670b ; color: #FFF }
#im_message_frame  .btn_close { position:absolute; top:  0px; right:5px; z-index:5000; color:#FF0000; background: url(../images/bt_close.png) no-repeat 7px 4px; height:50px; width:30px; }
#im_message_frame #im_btn_status { background-color: #FFFF00;  bottom: 0px;   right:0px;   color: #333 ;padding: 10px  5px 10px 5px  ; font-weight:bold ;height: 10px;   width:300px; z-index: 1000; }
#im_message_frame  #im_message_area  {  height:auto !important ; height:200px; min-height:200px;  } 

/* this warp  message*/
#im_message_frame   #im_message_detail 
{ height:200px;   overflow:auto ;  overflow-x: hidden; margin-top:15px; padding: 5px  3px  0px  3px ; width:290px; 
margin-bottom:10px; text-wrap:normal ; background-color:#fbea8c; margin-left:5px;  color:#333333}
.nameUser { font-weight:bold ; color:#333333 ; width:60px; display:block ; float:left ; margin-bottom:10px ; height:auto !important ; height:14px; min-height:14px; text-align:right; }
.comma {float:left ; width:10px; text-align:center ; }
 .detail {   width:190px; display:block ; float:left  ;  margin-bottom:10px ;  word-wrap:break-word; height:auto !important ; height:14px; min-height:14px;  }

#register_message {  margin: 0px auto  ;  margin-bottom:10px;        width:230px;   }  
#register_message  label {width:50px; display:block ; margin-right:10px; text-align:right ;font-weight:bold ;       float:left ;   }  
#register_message  input[type='text'] {  display:inline ;width:150px; float:left ;       margin-bottom:10px;}   
#register_message  input[type='submit']{  padding: 2px 5px;   margin-left:60px  ;font-size:11px; font-weight:bold ;  }
 
 
#user_message {  margin: 0px auto  ;  margin-bottom:10px;        width:300px;  margin-left:10px;  }
#user_message   label{width:60px; display:block ; margin-right:5px; text-align:right ;font-weight:bold ;margin-left:5px;       float:left ;    }
#user_message   input[type='text']{ display:inline ;width:220px; margin-right:5px;  float:left ;       margin-bottom:10px;}
#user_message  input[type='submit']{   padding: 2px 5px;   ;  float:left ; font-size:10px;  font-weight:bold }
 
  
 
 #admin_message {  margin: 0px auto  ;  margin-bottom:10px;        width:300px;  margin-left:10px; }
 #admin_message   label{width:60px; display:block ; margin-right:5px; text-align:right ;font-weight:bold ;margin-left:5px;       float:left ;  }
 #admin_message   input[type='text']{ display:inline ;width:230px; margin-right:5px;  float:left ;       margin-bottom:10px;}
 #admin_message  input[type='submit']{  padding: 2px 5px;   ;  float:left ; font-size:10px;  font-weight:bold}
 
 
/*-------- im_message  user ------------------------------------------------------------*/


/*-----header----------------------------------------------------------------*/
/*#header2  { position:relative; padding:0px 10px; height:auto !important ; height:157px; min-height:157px;   }
#header2 .logo { float:left; width:312px; height:125px; display:block; background: url(../images/update2011/442_03.jpg) no-repeat left top;  border:none;}
#header2 .logo span{display:none }*/
 
 
/*-----Menu----------------------------------------------------------------*/
/*#menu_top {   height:35px; background: url(../images/menutop_bg.png); width:992px;  margin:0px auto ;}
#menu_top ul { font-size:14px; margin-top:0px; margin-left:10px; font-size:14px; height: 35px; }
#menu_top li { list-style:none; display:inline;  float:left;  }
#menu_top li.over{  background-color:#F00  }
#menu_top img { border:0px; }
#menu_top li span {display:none;}
#menu_top li a[rel='home'] { background: url(../images/menutop_01.png) no-repeat center top;   height:35px; display:block ; width:93px;}
#menu_top li a[rel='join-now'] { background: url(../images/menutop_02.png) no-repeat center top;   height:35px; display:block ; width:112px;}
#menu_top li a[rel='deposit-withdraw'] { background: url(../images/menutop_03.png) no-repeat center top;   height:35px; display:block ; width:147px;}
#menu_top li a[rel='webboard'] { background: url(../images/menutop_04.png) no-repeat center top;   height:35px; display:block ; width:97px;}
#menu_top li a[rel='contact-us'] { background: url(../images/menutop_05.png) no-repeat center top;   height:35px; display:block ; width:101px;}*/
 