@charset "utf-8";
* { margin: 0; padding: 0; }
html { overflow-y: scroll; }
/** General Style Info **/
 
/** Layout **/

#tableWarp { background:  url(../images/bg_black_alpha.png) repeat-y left top; width: 770px; padding-left: 14px;  height:1852px; display:block ;}
#container { text-align: left; }
.container { width: 810px; background-image: url('../images/epl/main_bg.jpg'); background-repeat: no-repeat; background-color: black; margin: auto; min-height: 600px; }
.content { width: 702px; margin: 0 auto; }
.nav_menu { width: 702px; height: 53px; overflow: hidden; }
.nav_login_new { width: 810px; height: 32px; background-color: #F2F2F2; }
.nav_menu_new { width: 810px; height: 88px; }
.nav_menu_new_content { background-image: url('../images/nav_main_new.png'); background-position: 0px 0px; background-repeat: no-repeat; position: absolute; z-index: 1; width: 810px; height: 77px; }
.prem_tvs_logo { background-image: url('../images/nav_main_new.png'); background-position: 0px -86px; background-repeat: no-repeat; position: absolute; width: 228px; height: 68px; top: 22px; cursor: pointer; }
.nav_menu_new_content .site { background-image: url("../images/nav_main_new.png"); background-position: 0 -194px; background-repeat: no-repeat; height: 27px; left: 312px; top: 32px; position: absolute; width: 93px; cursor: pointer; }
.nav_menu_new_content .site.active { background-position: -95px -194px; }
.nav_menu_new_content .plprogram { background-image: url("../images/nav_main_new.png"); background-position: 0 -223px; background-repeat: no-repeat; height: 27px; left: 432px; top: 32px; position: absolute; width: 132px; cursor: pointer; }
.nav_menu_new_content .plprogram.active { background-position: -134px -223px; }
.nav_menu_new_content .plindex { background-image: url("../images/nav_main_new.png"); background-position: 0 -252px; background-repeat: no-repeat; height: 27px; left: 586px; top: 32px; position: absolute; width: 90px; cursor: pointer; }
.nav_menu_new_content .plindex.active { background-position: -92px -252px; }
.nav_menu_new_content .plpackage { background-image: url("../images/nav_main_new.png"); background-position: 0 -281px; background-repeat: no-repeat; height: 27px; left: 694px; position: absolute; width: 107px; top: 32px; cursor: pointer; }
.nav_menu_new_content .plpackage.active { background-position: -108px -281px; }
.nav_menu_new_content .plpayment { background-image: url("../images/nav_main_new.png"); background-position: 0 -309px; background-repeat: no-repeat; height: 27px; left: 706px; position: absolute; width: 78px; top: 32px; cursor: pointer; }
.nav_menu_new_content .plpayment.active { background-position: -80px -309px; }
.nav_login_new .login { background-image: url("../images/nav_main_new.png"); background-position: -137px -1108px; background-repeat: no-repeat; cursor: pointer; height: 30px; left: 738px; position: absolute; top: 12px; width: 70px; z-index: 2; }
.nav_login_new .login:hover { background-image: url("../images/nav_main_new.png"); background-position: -346px -1108px; background-repeat: no-repeat; cursor: pointer; height: 30px; left: 738px; position: absolute; top: 12px; width: 70px; z-index: 2; }
.nav_login_new .logout { background-image: url("../images/nav_main_new.png"); background-position: 0 -1108px; background-repeat: no-repeat; cursor: pointer; height: 30px; left: 700px; position: absolute; top: 11px; width: 115px; z-index: 2; }
.nav_login_new .logout:hover { background-image: url("../images/nav_main_new.png"); background-position: -209px -1108px; background-repeat: no-repeat; cursor: pointer; height: 30px; left: 700px; position: absolute; top: 11px; width: 115px; z-index: 2; }
.nav_menu_new_live { background-image: url('../images/nav_main_new.png'); background-position: 0px -165px; background-repeat: no-repeat; position: absolute; z-index: 2; width: 73px; height: 27px; cursor: pointer; top: 32px; left: 214px; }
.nav_menu_new_live.active { background-position: -75px -165px; }
.name_login { color: #696969; font-size: 12px; height: 30px; left: 280px; overflow: hidden; position: absolute; text-align: right; top: 12px; width: 400px; z-index: 2; }
.headmenu { color: white; cursor: pointer; float: left; height: 19px; margin-top: 16px; padding-top: 18px; text-align: center; }
.nav_menu .first { background-image: url('../images/main.png'); background-position: 0px -37px; background-repeat: no-repeat; margin-left: 2px; overflow: hidden; padding-left: 6px; width: 84px; }
.nav_menu .first.active { background-position: 0px 0px; }
.nav_menu .mid { background-image: url('../images/main.png'); background-position: -92px -37px; background-repeat: no-repeat; overflow: hidden; padding-right: 4px; width: 72px; }
.nav_menu .mid.active { background-position: -92px 0px; }
.nav_menu .last { background-image: url('../images/main.png'); background-position: -170px -37px; background-repeat: no-repeat; padding-right: 19px; width: 70px; }
.nav_menu .last.active { background-position: -170px 0px; }
.tail_shadow { background-image: url('../images/epl/shade/shadow_bottom_nav.png'); background-position: 0 8px; background-repeat: repeat-x; float: left; height: 35px; margin-top: 18px; width: 343px; }
.tail_conner_shadow { background-image: url('../images/epl/shade/bg_corner.png'); background-position: 0 15px; background-repeat: no-repeat; float: left; margin-top: 19px; height: 35px; width: 20px; }
.header_display_pane { background-image: url('../images/epl/bg_gray_top.png'); background-repeat: no-repeat; width: 702px; height: 16px }
.content_display_pane { background-image: url('../images/epl/bg_gray_mod.png'); background-repeat: repeat-y;  width: 770px; margin-bottom:20px;}
.home_left { border-right: 1px solid #ABABAB; width: 317px; float: left; }
.home_right { width: 350px; float: left; }
.payment_left { width: 326px; float: left; }
.payment_right { color: white; float: left; padding-left: 20px; width: 298px; }
.footer_display_pane { background-image: url('../images/epl/bg_gray_bottom.png'); background-repeat: no-repeat; width: 702px; height: 24px; }
.topshot { height: 26px; }
.topshot .left { background-image: url('../images/epl/top_l.png'); background-repeat: no-repeat; height: 26px; width: 8px; float: left; }
.topshot .mid { background-image: url('../images/epl/top_m.png'); background-repeat: repeat-x; height: 26px; float: left; }
.topshot .right { background-image: url('../images/epl/top_r.png'); background-repeat: repeat-x; height: 26px; width: 23px; float: left; }
.fixtureList { width: 100%; }
.standingList { width: 100%; }
.headStandingList { background-image: url('../images/epl/stand_top.png'); background-repeat: no-repeat; margin-left: 5px; width: 345px; height: 24px; }
.contentStandingList { background-image: url('../images/epl/stand_mid.png'); background-repeat: repeat-y; margin-left: 5px; padding-left: 11px; padding-right: 18px; width: 316px; color: white; text-align: center; }
.footerStandingList { background-image: url('../images/epl/stand_foot.png'); background-repeat: no-repeat; margin-left: 5px; width: 345px; height: 25px; }
.contentStandingList td, .contentStandingList th { border-bottom: 1px solid #ABABAB; }
.live_button { background-image: url('../images/epl/fix_live.png'); background-repeat: no-repeat; height: 25px; left: 204px; position: absolute; top: 4px; width: 89px; z-index: 2; }
.live_fixture { position: absolute; }
.gen_fixture { position: absolute; }
.live_fix_box_t { background-image: url('../images/epl/fix_box_w_t.png'); background-repeat: no-repeat; margin-left: 22px; width: 278px; height: 23px; }
.tv_live_fix_box_t { background-image: url('../images/epl/fix_box_w_t.png'); background-repeat: no-repeat; width: 278px; height: 23px; }
.gen_fix_box_t { background-image: url('../images/epl/fix_box_b_t.png'); background-repeat: no-repeat; margin-left: 22px; margin-top: -4px; width: 278px; height: 23px; }
.tv_gen_fix_box_t { background-image: url('../images/epl/fix_box_b_t.png'); background-repeat: no-repeat; width: 278px; height: 23px; }
.live_fix_box_m { width: 300px; height: 54px; }
.gen_fix_box_m { width: 300px; height: 54px; }
.live_fix_box_m .left { background-image: url('../images/epl/fix_shad_l.png'); background-repeat: repeat-y; height: 54px; margin-left: 8px; width: 22px; float: left; }
.live_fix_box_m .right { background-image: url('../images/epl/fix_shad_r.png'); background-repeat: repeat-y; height: 54px; width: 11px; float: left; }
.live_fix_box_m .mid { background-image: url('../images/epl/fix_box_w_m.png'); background-repeat: repeat-x; height: 54px; width: 259px; float: left; }
.gen_fix_box_m .left { background-image: url('../images/epl/fix_shad_l.png'); background-repeat: repeat-y; height: 54px; margin-left: 8px; width: 22px; float: left; overflow: hidden; }
.gen_fix_box_m .right { background-image: url('../images/epl/fix_shad_r.png'); background-repeat: repeat-y; height: 54px; width: 11px; float: left; overflow: hidden; }
.gen_fix_box_m .mid { background-image: url('../images/epl/fix_box_b_m.png'); background-repeat: repeat-x; height: 54px; width: 259px; float: left; }
.tv_gen_fix_box_m .left { background-image: url('../images/epl/fix_shad_l.png'); background-repeat: repeat-y; height: 54px; width: 8px; float: left; overflow: hidden; }
.tv_gen_fix_box_m .right { background-image: url('../images/epl/fix_shad_r.png'); background-repeat: repeat-y; height: 54px; width: 10px; float: left; overflow: hidden; }
.tv_gen_fix_box_m .mid { background-image: url('../images/epl/fix_box_b_m.png'); background-repeat: repeat-x; height: 54px; width: 259px; float: left; }
.live_fix_box_b { background-image: url('../images/epl/fix_box_w_b.png'); background-repeat: no-repeat; margin-left: 22px; width: 278px; height: 23px; }
.gen_fix_box_b { background-image: url('../images/epl/fix_box_b_b.png'); background-repeat: no-repeat; margin-left: 22px; width: 278px; height: 23px; }
.tv_live_fix_box_b { background-image: url('../images/epl/fix_box_w_b.png'); background-repeat: no-repeat; width: 278px; height: 23px; }
.tv_gen_fix_box_b { background-image: url('../images/epl/fix_box_b_b.png'); background-repeat: no-repeat; width: 278px; height: 23px; }
.content_fixture { -webkit-box-shadow: inset 1px 1px 6px 3px #232323; box-shadow: inset 1px 1px 6px 3px #232323; -webkit-border-radius: 10px; border-radius: 10px; background-color: black; float: left; margin-left: 12px; width: 130px; text-align: center; font-size: 12px; height: 54px; }
.content_fixture .text { color: white; }
.barday { color: white; margin: 2px 0; }
.display_pane { width: 702px; }
.live_left { width: 280px; height: 300px; float: left; overflow: hidden; }
.live_right { /*width:388px;
	height:300px;*/
width: 100%; float: left; }
.tv_fixtureList { position: absolute; top: 0; left: 0; }
.arrow_control { position: absolute; width: 278px; height: 1px; z-index: 2; top: 0; left: 0; }
.arrow_up { position: absolute; width: 35px; height: 13px; z-index: 3; top: 8px; left: 118px; cursor: pointer; }
.arrow_down { position: absolute; width: 35px; height: 13px; z-index: 3; top: 274px; left: 118px; cursor: pointer; }
.loadingAni { width: 100%; height: 550px; }
.realtime_stat_head { background-image: url('../images/epl/report_bar.png'); background-repeat: repeat-x; margin: auto; width: 96%; height: 29px; }
.realtime_stat_content { background-image: url('../images/epl/realtime_bg.png'); background-repeat: repeat-x; margin: auto; width: 96%; height: 92px; }
.title_report { float: left; width: 20%; height: 29px; overflow: hidden; }
.recent_report { float: left; width: 64%; height: 29px; overflow: hidden; }
.lang_report { float: left; width: 15%; height: 29px; overflow: hidden; }
.playerCon { background-color: black; margin: auto; margin-bottom: 20px; width: 610px; height: 360px; color: white; }
.program_table { width: 745px;   }
.program_table td.program_date { background-image: url('../images/epl/date_bar.png'); background-repeat: repeat-x; height: 20px; padding-left: 20px; background-color: #333; color: #FFF; border-left: 1px solid #ABABAB;  border-right: 1px solid #ABABAB; border : 1px solid #ABABAB;  }
tr.live td { background-color: #FFF; background-image: url('../images/hilight bar-02.png'); background-repeat: repeat-x;  color:#333  ;}
.content_date { border-right: 1px solid #ABABAB; border-bottom: 1px solid #ABABAB; width: 82px; height: 35px; color: white; text-align: center;  border-left: 1px solid #ABABAB; background-color:#fff  ; color:#333;  }
.content_image { border-right: 1px solid #ABABAB; border-bottom: 1px solid #ABABAB; width: 126px; height: 35px; color: white; text-align: center;  background-color:#fff  ; color:#333; }
.content_info { border-right: 1px solid #ABABAB; border-bottom: 1px solid #ABABAB; width: 166px; height: 35px; color: white; text-align: center; }
.content_time { border-right: 1px solid #ABABAB; border-bottom: 1px solid #ABABAB; width: 224px; height: 35px; color: white; text-align: center; }
.content_type { border-bottom: 1px solid #ABABAB; height: 35px; color: white; text-align: center; }
.content_date_last { border-right: 1px solid #ABABAB; width: 82px; height: 35px; color: white; text-align: center;  border-left: 1px solid #ABABAB;  background-color:#fff   ;color:#333;  }
.content_image_last { border-right: 1px solid #ABABAB; width: 126px; height: 35px; color: white; text-align: center;  background-color:#fff   ;color:#333; }
.content_info_last { border-right: 1px solid #ABABAB; width: 166px; height: 35px; color: white; text-align: center; }
.content_time_last { border-right: 1px solid #ABABAB; width: 224px; height: 35px; color: white; text-align: center; }
.content_type_last { height: 35px; color: white; text-align: center; }
.paymentDetail { width: 100%; padding-top: 20px; padding-bottom: 20px; }
.paymentDetail_head { background-image: url("../images/bar-01-01.png"); background-position: 0px -42px; background-repeat: no-repeat; height: 20px; width: 324px; margin: auto; }
.paymentDetail_body { background-image: url("../images/bar-02.png"); background-position: 0px -42px; background-repeat: repeat-y; margin: auto; width: 296px; padding-left: 12px; padding-right: 16px; }
.paymentDetail_foot { background-image: url("../images/bar-01-01.png"); background-position: 0px 0px; background-repeat: no-repeat; height: 20px; width: 324px; margin: auto; }
.paymentChannel { width: 100%; }
/* Login Page */
.facebooklogin { background-image: url("../images/nav_main_new.png"); background-position: -286px -1151px; background-repeat: no-repeat; width: 180px; height: 41px; }
/* Live Page */
.menu_player { width: 100%; height: 36px; background-color: #222222; }
.qr_button { background-image: url("../images/nav_main_new.png"); background-position: -3px -1014px; background-repeat: no-repeat; float: left; width: 109px; height: 37px; }
.tape_button { background-image: url("../images/nav_main_new.png"); background-position: -114px -1014px; background-repeat: no-repeat; float: left; width: 109px; height: 37px; margin-left: 6px; }
.speaker { background-image: url("../images/nav_main_new.png"); background-position: -225px -1014px; background-repeat: no-repeat; float: left; width: 27px; height: 27px; margin-left: 6px; margin-top: 2px; }
.thai_button { background-image: url("../images/nav_main_new.png"); background-position: -256px -1014px; background-repeat: no-repeat; float: left; width: 37px; height: 27px; cursor: pointer; margin-top: 2px; }
.thai_button:hover { background-position: -340px -1014px; }
.eng_button { background-image: url("../images/nav_main_new.png"); background-position: -301px -1014px; background-repeat: no-repeat; float: left; width: 37px; height: 27px; cursor: pointer; margin-top: 2px; }
.eng_button:hover { background-position: -379px -1014px; }
.line_break_lang { background-image: url("../images/nav_main_new.png"); background-position: -296px -1014px; background-repeat: no-repeat; float: left; width: 1px; height: 27px; margin-top: 2px; }
.auto_ban { background-image: url("../images/nav_main_new.png"); background-position: -730px -1014px; background-repeat: no-repeat; float: right; width: 163px; height: 37px; margin-right: -34px; cursor: pointer; }
.auto_ban.active { background-position: -418px -1014px; }
.hd_ban { background-image: url("../images/nav_main_new.png"); background-position: -894px -1014px; background-repeat: no-repeat; float: right; width: 145px; height: 37px; cursor: pointer; }
.hd_ban.active { background-position: -581px -1014px; }
/* Payment New Design*/
.content_payment_head { background-image: url("../images/bar-01-01.png"); background-position: -355px -42px; background-repeat: no-repeat; height: 25px; margin: 10px auto auto; width: 645px; }
.content_payment_body { background-image: url("../images/bar-02.png"); background-position: -328px 0px; background-repeat: repeat-y; margin: auto; width: 645px; }
.content_payment_foot { background-image: url("../images/bar-01-01.png"); background-position: -355px 0px; background-repeat: no-repeat; height: 25px; margin: auto; width: 645px; padding-bottom: 12px; }
.payment_con1 { background-image: url("../images/nav_main_new.png"); background-position: 0px -679px; background-repeat: repeat-y; width: 283px; height: 143px; margin-left: 10px; float: left; }
.textLoginforRedeem { background-image: url("../images/nav_main_new.png"); background-position: -467px -1151px; background-repeat: no-repeat; margin-left: 38px; margin-top: 20px; width: 162px; height: 41px; float: left; }
.promo_trueonline { background-image: url("../images/nav_main_new.png"); background-position: 0px -1148px; background-repeat: no-repeat; margin-left: 46px; width: 285px; height: 95px; }
#payment input[type=text] { /*-webkit-border-radius: 4px;
	border-radius: 4px;
	background-color: black;
    border: 1px solid #696969;
    color: white;
    height: 22px;
    width: 210px;*/
}
.prem_logo { background-image: url("../images/nav_main_new.png"); background-position: 0px -376px; background-repeat: no-repeat; width: 286px; height: 193px; cursor: pointer; }
.prem_text { width: 286px; }
/*team Logo Big*/
.teamlogo { width: 40px; height: 39px; margin-top: 4px; }
.teamlogos { width: 30px; height: 29px; float: left; }
.teamb1006 { background-image: url('../images/logo_team.png'); background-repeat: no-repeat; background-position: 0 -38px; }
.teamb2 { background-image: url('../images/logo_team.png'); background-repeat: no-repeat; background-position: -40px -38px; }
.teamb4 { background-image: url('../images/logo_team.png'); background-repeat: no-repeat; background-position: -80px -38px; }
.teamb8 { background-image: url('../images/logo_team.png'); background-repeat: no-repeat; background-position: -120px -38px; }
.teamb55 { background-image: url('../images/logo_team.png'); background-repeat: no-repeat; background-position: -160px -38px; }
.teamb9 { background-image: url('../images/logo_team.png'); background-repeat: no-repeat; background-position: -200px -38px; }
.teamb11 { background-image: url('../images/logo_team.png'); background-repeat: no-repeat; background-position: -240px -38px; }
.teamb12 { background-image: url('../images/logo_team.png'); background-repeat: no-repeat; background-position: -280px -38px; }
.teamb31 { background-image: url('../images/logo_team.png'); background-repeat: no-repeat; background-position: -320px -38px; }
.teamb14 { background-image: url('../images/logo_team.png'); background-repeat: no-repeat; background-position: -360px -38px; }
.teamb16 { background-image: url('../images/logo_team.png'); background-repeat: no-repeat; background-position: -400px -38px; }
.teamb62 { background-image: url('../images/logo_team.png'); background-repeat: no-repeat; background-position: -440px -38px; }
.teamb18 { background-image: url('../images/logo_team.png'); background-repeat: no-repeat; background-position: -480px -38px; }
.teamb38 { background-image: url('../images/logo_team.png'); background-repeat: no-repeat; background-position: -520px -38px; }
.teamb39 { background-image: url('../images/logo_team.png'); background-repeat: no-repeat; background-position: -560px -38px; }
.teamb65 { background-image: url('../images/logo_team.png'); background-repeat: no-repeat; background-position: -600px -38px; }
.teamb19 { background-image: url('../images/logo_team.png'); background-repeat: no-repeat; background-position: -640px -38px; }
.teamb42 { background-image: url('../images/logo_team.png'); background-repeat: no-repeat; background-position: -680px -38px; }
.teamb43 { background-image: url('../images/logo_team.png'); background-repeat: no-repeat; background-position: -720px -38px; }
.teamb68 { background-image: url('../images/logo_team.png'); background-repeat: no-repeat; background-position: -760px -38px; }
.teams1006 { background-image: url('../images/logo_team.png'); background-repeat: no-repeat; background-position: 0 0; }
.teams2 { background-image: url('../images/logo_team.png'); background-repeat: no-repeat; background-position: -30px 0; }
.teams4 { background-image: url('../images/logo_team.png'); background-repeat: no-repeat; background-position: -60px 0; }
.teams8 { background-image: url('../images/logo_team.png'); background-repeat: no-repeat; background-position: -90px 0; }
.teams55 { background-image: url('../images/logo_team.png'); background-repeat: no-repeat; background-position: -120px 0; }
.teams9 { background-image: url('../images/logo_team.png'); background-repeat: no-repeat; background-position: -150px 0; }
.teams11 { background-image: url('../images/logo_team.png'); background-repeat: no-repeat; background-position: -180px 0; }
.teams12 { background-image: url('../images/logo_team.png'); background-repeat: no-repeat; background-position: -210px 0; }
.teams31 { background-image: url('../images/logo_team.png'); background-repeat: no-repeat; background-position: -240px 0; }
.teams14 { background-image: url('../images/logo_team.png'); background-repeat: no-repeat; background-position: -270px 0; }
.teams16 { background-image: url('../images/logo_team.png'); background-repeat: no-repeat; background-position: -300px 0; }
.teams62 { background-image: url('../images/logo_team.png'); background-repeat: no-repeat; background-position: -330px 0; }
.teams18 { background-image: url('../images/logo_team.png'); background-repeat: no-repeat; background-position: -360px 0; }
.teams38 { background-image: url('../images/logo_team.png'); background-repeat: no-repeat; background-position: -390px 0; }
.teams39 { background-image: url('../images/logo_team.png'); background-repeat: no-repeat; background-position: -420px 0; }
.teams65 { background-image: url('../images/logo_team.png'); background-repeat: no-repeat; background-position: -450px 0; }
.teams19 { background-image: url('../images/logo_team.png'); background-repeat: no-repeat; background-position: -480px 0; }
.teams42 { background-image: url('../images/logo_team.png'); background-repeat: no-repeat; background-position: -510px 0; }
.teams43 { background-image: url('../images/logo_team.png'); background-repeat: no-repeat; background-position: -540px 0; }
.teams68 { background-image: url('../images/logo_team.png'); background-repeat: no-repeat; background-position: -570px 0; }
.clock_icon { background-image: url('../images/main.png'); background-repeat: no-repeat; background-position: 0 -188px; width: 55px; height: 54px; margin-left: 12px; }
.tmc_buy { background-image: url('../images/main.png'); background-repeat: no-repeat; background-position: 0 -250px; width: 249px; height: 78px; cursor: pointer; }
.tm_buy { background-image: url('../images/main.png'); background-repeat: no-repeat; background-position: -5px -572px; width: 249px; height: 78px; }
.tm_buy_button { background-image: url('../images/main.png'); background-position: -614px -566px; background-repeat: no-repeat; cursor: pointer; height: 55px; left: 157px; position: relative; top: 12px; width: 78px; }
.tm_buy_button:hover { background-position: -534px -566px; }
.cc_buy { background-image: url('../images/main.png'); background-repeat: no-repeat; background-position: -272px -572px; width: 249px; height: 78px; }
.cc_buy_button { background-image: url('../images/main.png'); background-position: -614px -566px; background-repeat: no-repeat; cursor: pointer; height: 55px; left: 157px; position: relative; top: 12px; width: 78px; }
.cc_buy_button:hover { background-position: -534px -566px; }
/*Login Page*/
.loginBox { padding-top: 40px; color: white; }
.head_loginBox { background-image: url('../images/bg_paymeny.png'); background-repeat: no-repeat; background-position: 0px 0px; margin: auto; width: 624px; height: 28px; }
.body_loginBox { background-image: url('../images/bg_payment_b.png'); background-repeat: repeat-y; margin: auto; width: 624px; height: 440px; }
.foot_loginBox { background-image: url('../images/bg_paymeny.png'); background-repeat: no-repeat; background-position: 0px -30px; margin: auto; width: 624px; height: 28px; }
.inner_head_loginBox { background-image: url('../images/bg_paymeny.png'); background-repeat: no-repeat; background-position: 0px -68px; margin: 10px auto auto; width: 492px; height: 18px; }
.inner_body_loginBox { background-image: url('../images/bg_payment_s.png'); background-repeat: repeat-y; margin: auto; height: 356px; width: 492px; color: white; }
.inner_foot_loginBox { background-image: url('../images/bg_paymeny.png'); background-repeat: no-repeat; background-position: 0px -88px; margin: auto; width: 492px; height: 18px; }
/*End login Page*/
/*Error 404*/
.errorBox { padding-top: 80px; color: white; }
.head_errorBox { background-image: url('../images/bg_paymeny.png'); background-repeat: no-repeat; background-position: 0px 0px; margin: auto; width: 624px; height: 28px; }
.body_errorBox { background-image: url('../images/bg_payment_b.png'); background-repeat: repeat-y; margin: auto; width: 624px; height: 400px; }
.foot_errorBox { background-image: url('../images/bg_paymeny.png'); background-repeat: no-repeat; background-position: 0px -30px; margin: auto; width: 624px; height: 28px; }
.fail_error { background-image: url('../images/main.png'); background-position: -88px -884px; background-repeat: no-repeat; height: 74px; left: 482px; position: absolute; top: -50px; width: 80px; }
/*End Error 404*/
.agreementBox { padding-top: 40px; color: white; }
.head_agreementBox { background-image: url('../images/bg_paymeny.png'); background-repeat: no-repeat; background-position: 0px 0px; margin: auto; width: 624px; height: 28px; }
.body_agreementBox { background-image: url('../images/bg_payment_b.png'); background-repeat: repeat-y; margin: auto; width: 624px; height: 400px; }
.foot_agreementBox { background-image: url('../images/bg_paymeny.png'); background-repeat: no-repeat; background-position: 0px -30px; margin: auto; width: 624px; height: 28px; }
.inner_head_agreementBox { background-image: url('../images/bg_paymeny.png'); background-repeat: no-repeat; background-position: 0px -68px; margin: auto; width: 492px; height: 18px; }
.inner_body_agreementBox { background-image: url('../images/bg_payment_s.png'); background-repeat: repeat-y; margin: auto; height: 246px; width: 492px; color: white; }
.inner_foot_agreementBox { background-image: url('../images/bg_paymeny.png'); background-repeat: no-repeat; background-position: 0px -88px; margin: auto; width: 492px; height: 18px; }
.agreement_content { overflow-y: scroll; overflow-x: hidden; height: 200px; padding: 6px; }
.agreement_content b { text-decoration: underline; }
/*Agreement and buyresponse button*/
.submit_b_h { background-image: url('../images/btn-01.png'); background-repeat: no-repeat; height: 55px; width: 24px; float: left; }
.submit_b_b { background-image: url('../images/btn-02.png'); background-repeat: repeat-x; height: 43px; float: left; text-align: center; padding: 12px 6px 0 4px; }
.submit_b_f { background-image: url('../images/btn-03.png'); background-repeat: no-repeat; height: 55px; width: 24px; float: left; }
.login_b_h { background-image: url('../images/btn-04.png'); background-repeat: no-repeat; height: 55px; width: 24px; float: left; }
.login_b_b { background-image: url('../images/btn-05.png'); background-repeat: repeat-x; float: left; text-align: center; height: 43px; padding: 12px 6px 0 4px; }
.login_b_f { background-image: url('../images/btn-06.png'); background-repeat: no-repeat; height: 55px; width: 23px; float: left; }
.cancel_b_h { background-image: url('../images/btn-04.png'); background-repeat: no-repeat; height: 55px; width: 24px; float: left; }
.cancel_b_b { background-image: url('../images/btn-05.png'); background-repeat: repeat-x; float: left; text-align: center; height: 43px; padding: 12px 6px 0 4px; }
.cancel_b_f { background-image: url('../images/btn-06.png'); background-repeat: no-repeat; height: 55px; width: 23px; float: left; }
/*buy response*/
.buyResBox { color: white; }
.head_buyResBox { background-image: url('../images/bg_paymeny.png'); background-repeat: no-repeat; background-position: 0px 0px; margin: auto; width: 624px; height: 28px; }
.body_buyResBox { background-image: url('../images/bg_payment_b.png'); background-repeat: repeat-y; margin: auto; width: 624px; }
.foot_buyResBox { background-image: url('../images/bg_paymeny.png'); background-repeat: no-repeat; background-position: 0px -30px; margin: auto; width: 624px; height: 28px; }
.inner_head_buyResBox { background-image: url('../images/bg_paymeny.png'); background-repeat: no-repeat; background-position: 0px -68px; margin: 20px auto auto; width: 492px; height: 18px; }
.inner_body_buyResBox { background-image: url('../images/bg_payment_s.png'); background-repeat: repeat-y; margin: auto; height: 226px; width: 492px; color: white; }
.inner_foot_buyResBox { background-image: url('../images/bg_paymeny.png'); background-repeat: no-repeat; background-position: 0px -88px; margin: auto; width: 492px; height: 32px; }
.buyRes_content { padding: 6px; padding-top: 20px; }
.success_buy { background-image: url("../images/nav_main_new.png"); background-position: 0 -895px; background-repeat: no-repeat; height: 74px; left: 432px; position: absolute; top: -10px; width: 80px; }
.fail_buy { background-image: url('../images/main.png'); background-position: -88px -884px; background-repeat: no-repeat; height: 74px; left: 432px; position: absolute; top: -10px; width: 80px; }
 
.clear { clear: both; }
