@charset "utf-8";
/* CSS Document */

.demo-wrap  {   margin-left:10px; height:464px; overflow:hidden ; }
.demo-wrap ul { width: 992px; height: 464px;  overflow: hidden;  }
.demo-wrap li { list-style: none; margin: 0px; height: 464px; }
.view-examples li { list-style: disc; margin-left: 16px; margin-bottom: 5px; clear:both; }
.view-examples li a { color: #de312a; }
.view-examples li a:hover { text-decoration: underline; }
 
.demo-wrap .border { border-top: dotted #c3c3c1 1px; padding-top: 15px; }
.demo-wrap .border .bx-window { margin-top: 78px; }
.demo-wrap .left { width: 205px; float: left; }
.demo-wrap .right { width: 320px; float: left; }
.demo-wrap .right .album { margin-top: 60px; font-size: 16px; }
.demo-wrap .right .band { font-size: 14px; color: #838383; }
.demo-wrap .multiple li { width: 190px; }
.demo-wrap .bx-wrapper { }
.demo-wrap .bx-prev { position: absolute; top:  220px; left: 20px; width: 25px; height: 45px; text-indent: -999999px; background: url(prev-horizontal.png) no-repeat 0 0px; z-index:100 }
.demo-wrap .bx-next { position: absolute; top: 220px; right: 20px; width: 25px; height: 45px; text-indent: -999999px; background: url(next-horizontal.png) no-repeat 0 0px; z-index:100 }
.demo-wrap .bx-next:hover, .demo-wrap .bx-prev:hover { background-position: 0 -43px; } 



.demo-wrap2 ul { width: 210px; height: 296px;  overflow: hidden;    }
.demo-wrap2 li { list-style: none; margin: 0px;  }
.view-examples li { list-style: disc; margin-left: 16px; margin-bottom: 5px; clear:both; }
.view-examples li a { color: #de312a; }
.view-examples li a:hover { text-decoration: underline; }
 
.demo-wrap2 .border { border-top: dotted #c3c3c1 1px; padding-top: 15px; }
.demo-wrap2 .border .bx-window { margin-top: 78px; }
.demo-wrap2 .left { width: 205px; float: left; }
.demo-wrap2 .right { width: 320px; float: left; }
.demo-wrap2 .right .album { margin-top: 60px; font-size: 16px; }
.demo-wrap2 .right .band { font-size: 14px; color: #838383; }
.demo-wrap2 .multiple li { width: 190px; }
.demo-wrap2 .bx-wrapper { }
.demo-wrap2 .bx-prev { position: absolute; top:  220px; left: 20px; width: 25px; height: 45px; text-indent: -999999px; background: url(prev-horizontal.png) no-repeat 0 0px; z-index:100 }
.demo-wrap2 .bx-next { position: absolute; top: 220px; right: 20px; width: 25px; height: 45px; text-indent: -999999px; background: url(next-horizontal.png) no-repeat 0 0px; z-index:100 }
.demo-wrap2 .bx-next:hover, .demo-wrap .bx-prev:hover { background-position: 0 -43px; } 