 
 <!------  Jquery bxSlider    ------------------------------->
<script type="text/javascript"   src="jquery.bxSlider.min.js"></script> 
<script type="text/javascript"   src="bx_slide_config.js"></script> 
<link href="bx_slide.css" rel="stylesheet" media="all" />
 
 
 	<div class="demo-wrap">
				<ul id="slider2"> 
				<li><img src="442big_bonus_01.gif"  /></li>
			 <li><img src="442big_bonus_02.gif"  /></li>
             <li><img src="442big_bonus_03.gif"  /></li>
				</ul>
		</div>
 
 